#btnCartOverview {
	margin-right: 20px;	
	position: relative;
/*	height: 50px;*/
}

#cartContainer {
	bottom:0;
	position: absolute;
	right: 0;
}

#slidingTopWrap {
	background-color: #fafafa;
    background-image: linear-gradient(to bottom, #f1f1f1, #fafafa);
	border: 1px solid #cccccc;
	border-top: 0;
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
	padding: 0 10px 10px;
	position: absolute;
	right: -15px;
	top: 0;
    width: 230px;
    z-index: 10;
}

#slidingTopContent {
	overflow: hidden;
	margin: 0;
	position: relative;
	padding: 0;
}

#wrdInfoWrap {
	background-color: #FFFF99;
	height: 80px;
}

#wrdInfoWrapLeft {
	float: left;
	width: 300px;
	padding: 10px;
}

#wrdInfoWrapRight {
	float: right;
}

#wrdInfoWrapRight A:link, #wrdInfoWrapRight A:visited, #wrdInfoWrapRight A:active {
	color: #333333;
	text-decoration: underline;
}

#wrdInfoWrapRight A:hover {
	color: #669900;
}

#wrdTutorialInfo {
	margin: 25px 10px 0 0;
	background-color: #FFFFFF;
	padding: 5px;
}

#headerWrap {
	width: 100%;
	height: 30px;
	background-color: #666666;
	border: 1px #999999 solid;
}

#contentWrapLeft {
	float: left;
	width: 650px;
}


#contentWrapRight {
	float: right;
	width: 250px;
}

.productWrap {
	float:left;
	width: 170px;
	margin: 5px;
	padding:10px;
	text-align:center;
	color:#7a7a7a;
	border: 1px #EBEBEB solid;
}

.productPriceWrap {
	background-color: #CCCCCC;
	padding: 5px;
	color: #000000;
	font-weight: bold;
}

.productPriceWrap img {
	border: 0;
}

#cartSliderWrap {
	background-color: #EBEBEB;
	padding-bottom: 5px;
}

#cartSliderTitleWrap {
	padding: 5px;
}

#cartSliderItemsWrap img {
	border: 0;
}

#cartSliderItemsWrap ul {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
	max-height: 250px;
	overflow: auto;
}

#cartSliderItemsWrap li {
	background-color: #ffffff;
	margin: 5px;
	padding:3px;
	font-size: 12px;
}


#cartSliderWrap .order-totals {
	text-align:right;
	padding: 5px 10px;
	font-weight: bold;
}

.cartSliderItemLeft {
	float: left;
}

.cartSliderItemRight {
	float: right;
}

#bannerWrap {
	margin: 10px;
	padding-bottom: 5px;
}