.cartMini {
	width: 250px;
	padding: 10px 25px;
}

.cartMiniHeader {
	padding: 10px 20px;
	border-bottom: 3px #000 solid;
}

.cartMiniProducts {
	padding: 0 20px 0 20px;
	background-color: #ffffff;
}

.cartMiniTotal {
	padding: 20px;
}

.cartMiniSubOrderTotal {
	padding: 10px 0;
}

.subOrderPrice {
	font-weight: bold;
	font-size: 120%;
}

.cartItems {
	border-bottom: 2px #c91b1b solid;
	padding: 5px 0;
	margin: 0 20px;
}
.cartSliderElementListItems{
	margin: 0 20px;
}

.emptyCartMsg {
	margin: 10px;
}

.cartMiniEmpty {
	background-color: #ffffff;
	display: none;
}