.navbar-brand {
	padding: 0;
	font-size: 25px;
	margin-left: 5px;
}

#header a {
	text-decoration: none;
}

#headerCartOverview {
	margin: 0;
	paddin: 10px 15px;
}

#headerCartOverview:hover {
	background-color: #eee;
}

#brand img {
	width: 55px;
	margin-left: 5px;
}

.margin_right10 {
	margin-right: 10px;
}

.margin_left5 {
	margin-left: 5px;
}

#dropdown {
	padding: 5px 0 0 0;
}
/*
#main {
	padding-top: 20px;
}
*/
#cartOverviewTable thead th, #checkoutOverviewTable thead th {
	color: black;
	font-size: 14px;
	margin-left: 10px;
}

#cartOverviewTable>tbody>tr>td, #checkoutOverviewTable>tbody>tr>td {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #e7e7e7;
}

#cartOverviewTable tbody tr, #checkoutOverviewTable tbody tr {
	
}

#cartOverviewTable ul, #checkoutOverviewTable ul {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0;
}

#cartSummaryList li, #checkoutSummaryList li {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}

.textcolorlightgrey {
	color: #e7e7e7;
}

.bgLightGrey {
	background-color: #e7e7e7;
}

.bgLightGrey2 {
	background-color: #F8F8F8;
}

h1, h2, h3 {
	text-transform: uppercase;
	margin-top: 10px;
}

.breadcrumb {
	margin-bottom: 10px;
	padding: 8px 15px 8px 15px;
}