<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
    <@layout.myLayout "The ultimate webshop">

        <div class="row row-pb-lg  justify-content-center">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <!-- Account Overview -->
                <div class="col-lg-8">
                    <div class="container">
                        <div id="title-account-overview" class="header-container">
                            <span class="h2">${i18n("accountOverviewTitle")}</span>
                        </div>
                        <div class="row justify-content-center mt-4">
                            <div class="col-lg-6">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="card-title">${i18n("titleOrderHistory")}</h5>
                                                <a class="acc-style" id="link-order-overview" href="${contextPath}/${lang}/orderOverview">
                                                    <button class="btn btn-primary btn-account">
                                                        <i class="fas icon-history"></i> ${i18n("titleOrderHistory")}
                                                    </button>
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <p>${i18n("orderOverviewDescription")}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Address Overview -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="card-title">${i18n("titleAddressOverview")}</h5>
                                                <a id="link-address-overview" href="${contextPath}/${lang}/addressOverview"
                                                    class="btn btn-primary btn-account">
                                                    <i class="fas icon-book"></i> ${i18n("titleAddressOverview")}
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <p>${i18n("addressOverviewDescription")}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <!-- Payment Information -->
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="card-title">${i18n("titlePaymentInformation")}</h5>
                                                <a id="link-payment-overview" href="${contextPath}/${lang}/paymentOverview"
                                                    class="btn btn-primary btn-account">
                                                    <i class="fas icon-credit-card"></i>
                                                    ${i18n("titlePaymentInformation")}
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <p>${i18n("paymentSettingsDescription")}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Settings -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="card-title">${i18n("titleSettings")}</h5>
                                                <a id="link-setting-overview" href="${contextPath}/${lang}/settingOverview"
                                                    class="btn btn-primary btn-account">
                                                    <i class="fas icon-cog"></i> ${i18n("titleSettings")}
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <p>${i18n("personalDataDescription")}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </@layout.myLayout>