<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop"> 
<fieldset>
	<legend id="titleAccountOverview"><h2>${i18n("accountOverviewTitle")}</h2></legend>
	<ul class="list-unstyled">
	<li>
		<a id="linkOrderOverview" href="${contextPath}/orderOverview">${i18n("titleOrderHistory")}</a>
	</li>
	<li>
		<a id="linkAddressOverview" href="${contextPath}/addressOverview">${i18n("titleAddressOverview")}</a>
	</li>
	<li>
		<a id="linkPaymentOverview" href="${contextPath}/paymentOverview">${i18n("titlePaymentInformation")}</a>
	</li>
	<li>
		<a id="linkPersonalData" href="${contextPath}/settingOverview">${i18n("titleSettings")}</a>
	</li>
	</ul>
</fieldset>
</@layout.myLayout>