<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">
	<form id="formAddPayment" class="form-horizontal" action="${contextPath}/addPaymentToCustomer" method="post">
		<fieldset>
			<!-- Form Name -->
			<legend>${i18n("titlePaymentInformation")}</legend>
			<!-- include form -->
			<#include "../form/paymentForm.ftl.html"/>
			<!-- add button -->
			<div class="control-group">
				<label class="control-label" for="btnAddPayment"></label>
				<div class="controls">
					<button id="btnAddPayment" name="btnAddPayment" class="btn btn-primary" type="submit">${i18n("paymentMethodAddNew")}</button>
				</div>
			</div>
		</fieldset>
	</form>
</@layout.myLayout>