<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">
<form id="formChangePassword" class="form-horizontal"
	action="${contextPath}/changePasswordCompleted" method="post">
	<fieldset>
		<!-- Form Name -->
		<legend>
			<span class="h2">${i18n("changePasswordTitle")}</span>
		</legend>
		<div class="col-sm-12">

			<!-- old password -->
			<div class="form-group">
				<label class="col-sm-3 control-label">${i18n("changePasswordOld")}*</label>
				<div class="col-sm-9">
					<input id="oldPassword" name="oldPassword"
						placeholder="${i18n('changePasswordOld')}" class="form-control"
						required type="password">
				</div>
			</div>

			<!-- new password -->
			<div class="form-group">
				<label class="col-sm-3 control-label">${i18n("changePasswordNew")}*</label>
				<div class="col-sm-9">
					<input id="password" name="password"
						placeholder="${i18n('changePasswordNew')}" class="form-control"
						required type="password">
				</div>
			</div>

			<!-- new password again -->
			<div class="form-group">
				<label class="col-sm-3 control-label">${i18n("changePasswordNewAgain")}*</label>
				<div class="col-sm-9">
					<input id="passwordAgain" name="passwordAgain"
						placeholder="${i18n('changePasswordNewAgain')}"
						class="form-control" required type="password">
				</div>
			</div>

			<!-- update / clear -->
			<div class="form-group">
				<div class="col-sm-12 nopadding">
					<div class="col-sm-3"></div>
					<div class="col-sm-9">
						<span class="reqField pull-left textcolordarkgrey">*
							${i18n('titleRequiredFields')}</span>
						<button id="btnChangePassword"
							class="btn btn-primary pull-right margin_left5"
							name="btnChangePassword" type="submit">${i18n("changePasswordSetNew")}</button>
					</div>
				</div>
			</div>

		</div>
	</fieldset>
</form>
</@layout.myLayout>
