<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">    	

<form class="form-horizontal" action="/changePasswordCompleted" method="post">
<fieldset>

<!-- Form Name -->
<legend>${i18n("changePasswordTitle")}</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">${i18n("changePasswordOld")}:</label>
  <div class="controls">
    <input id="oldPassword" name="oldPassword" placeholder="old password" class="input-xlarge" required="" type="password">
    
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label">${i18n("changePasswordNew")}:</label>
  <div class="controls">
    <input id="password" name="password" placeholder="password" class="input-xlarge" required="" type="password">
    
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label">${i18n("changePasswordNewAgain")}:</label>
  <div class="controls">
    <input id="passwordAgain" name="passwordAgain" placeholder="password again" class="input-xlarge" required="" type="password">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label"></label>
  <div class="controls">
    <button id="submit" name="submit" class="btn btn-success" type="submit">${i18n("changePasswordSetNew")}</button>
    <button id="clear" name="clear" class="btn btn-danger" type="reset">${i18n("buttonClear")}</button>
  </div>
</div>

</fieldset>
</form>

</@layout.myLayout>
