<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">
<form id="formChangeNameEmail" class="form-horizontal"
	action="${contextPath}/changeNameOrEmailCompleted" method="post">
	<fieldset>
		<!-- Form Name -->
		<legend>
			<span class="h2">${i18n("changeCustomerDetailTitle")}</span>
		</legend>
		<div class="col-sm-12">

			<!-- last name -->
			<div class="form-group">
				<label class="col-sm-2 control-label" for="name">${i18n("labelMyName")}:</label>
				<div class="col-sm-10">
					<input id="name" name="name"
						placeholder="${i18n('registrationLastName')}" class="form-control"
						required type="text" pattern="[A-Za-z\s]+"
						data-error="${i18n('errorWrongName')}" value="${(customer.name)!}">
				</div>
			</div>

			<!-- first name -->
			<div class="form-group">
				<label class="col-sm-2 control-label" for="firstName">${i18n("labelMyFirstName")}:</label>
				<div class="col-sm-10">
					<input id="firstName" name="firstName"
						placeholder="${i18n('registrationFirstName')}"
						class="form-control" required type="text" pattern="[A-Za-z\s]+"
						data-error="${i18n('errorWrongName')}"
						value="${(customer.firstName)!}">
				</div>
			</div>

			<!-- email -->
			<div class="form-group">
				<label class="col-sm-2 control-label" for="eMail">${i18n("labelMyEmail")}:</label>
				<div class="col-sm-10">
					<input id="eMail" name="eMail"
						placeholder="${i18n('registrationEmail')}" class="form-control"
						required type="text"
						pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+.[A-Za-z]{2,4}"
						data-error="${i18n('errorValidEmail')}"
						value="${(customer.email)!}">
				</div>
			</div>

			<!-- password -->
			<div class="form-group">
				<label class="col-sm-2 control-label" for="password">${i18n("changeCustomerDetailEnterPassword")}:</label>
				<div class="col-sm-10">
					<input id="password" name="password"
						placeholder="${i18n('registrationPassword')}" class="form-control"
						required type="password">
				</div>
			</div>

			<!-- update button -->
			<div class="form-group">
				<div class="col-sm-12">
					<button id="btnChangeNameEmail" name="btnChangeNameEmail"
						class="btn btn-primary pull-right" type="submit">${i18n('changeCustomerDetailUpdateAccount')}</button>
				</div>
			</div>
		</div>
	</fieldset>
</form>
</@layout.myLayout>
