<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">
<form id="formChangePassword" class="form-horizontal"
	action="${contextPath}/changePasswordCompleted" method="post">
	<fieldset>
		<!-- Form Name -->
		<legend>
			<span class="h2">${i18n("changePasswordTitle")}</span>
		</legend>
		<div class="col-sm-12">

			<!-- old password -->
			<div class="form-group">
				<label class="col-sm-2 control-label">${i18n("changePasswordOld")}:</label>
				<div class="col-sm-10">
					<input id="oldPassword" name="oldPassword"
						placeholder="${i18n('changePasswordOld')}" class="form-control"
						required type="password">
				</div>
			</div>

			<!-- new password -->
			<div class="form-group">
				<label class="col-sm-2 control-label">${i18n("changePasswordNew")}:</label>
				<div class="col-sm-10">
					<input id="password" name="password"
						placeholder="${i18n('changePasswordNew')}" class="form-control"
						required type="password">
				</div>
			</div>

			<!-- new password again -->
			<div class="form-group">
				<label class="col-sm-2 control-label">${i18n("changePasswordNewAgain")}:</label>
				<div class="col-sm-10">
					<input id="passwordAgain" name="passwordAgain"
						placeholder="${i18n('changePasswordNewAgain')}"
						class="form-control" required type="password">
				</div>
			</div>

			<!-- update / clear -->
			<div class="form-group">
				<div class="col-sm-12">
					<button id="btnChangePassword" name="btnChangePassword"
						class="btn btn-primary pull-right" type="submit">${i18n("changePasswordSetNew")}</button>
					<button id="btnClearForm" name="btnClearForm"
						class="btn btn-default pull-right" type="reset">${i18n("buttonClear")}</button>
				</div>
			</div>

		</div>
	</fieldset>
</form>
</@layout.myLayout>
