<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">
	<form class="form-horizontal" action="/deleteAccount" method="post">
		<fieldset>
			<legend>${i18n("confirmDeletionTitle")}</legend>
			<!-- Password input-->
			<div class="control-group">
				<label class="control-label">${i18n("confirmDeletionPassword")}:</label>
				<div class="controls">
					<input id="password" name="password" placeholder="${i18n("registrationPassword")}"
						class="input-xlarge" required type="password">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label"></label>
				<div class="controls">
					<button id="deleteAccount" name="deleteAccount"
						class="btn btn-danger" type="reset">${i18n("confirmDeletionTitle")}</button>
				</div>
			</div>
		</fieldset>
	</form>
</@layout.myLayout>
