<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">
	<form id="formDeleteAddress" class="form-horizontal" action="/${deleteAddressURL}" method="post">
		<fieldset>
			<legend>${i18n("confirmDeleteAddress")}</legend>
			<!-- Password input-->
			<div class="control-group">
				<label class="control-label">${i18n("confirmDeletionPassword")}:</label>
				<div class="controls">
					<input id="password" name="password" placeholder="${i18n("registrationPassword")}"
						class="input-xlarge" required type="password">
				</div>
			</div>
			<!-- address id -->
			<input name="addressId" id="addressId" type="hidden" value=${addressId}></input>
			<div class="control-group">
				<label class="control-label"></label>
				<div class="controls">
					<button id="btnDeleteAddress" name="btnDeleteAddress"
						class="btn btn-danger" type="submit">${i18n("confirmDeleteAddress")}</button>
				</div>
			</div>
		</fieldset>
	</form>
</@layout.myLayout>
