<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">
<fieldset>
	<legend id="titleOrderHistory">
		<h2>${i18n("titleOrderHistory")}</h2>
	</legend>
	<div id="orderOverview">
		<table id="cartOverviewTable" class="table" table-bordered>
			<thead class="bgLightGrey">
				<th>order Information</th>
				<th>order Products</th>
			</thead>
			<tbody>
				<#list orderOverview as order>
				<tr id="order${order_index}">
					<td class="orderInfo">
						<div class="orderDate">${order.orderDate}</div>
						<div class="orderTotalCosts">${currency}${order.getTotalCostsAsString()}</div>
					</td>
					<td class="orderProducts">
						<table class="table tableOrderOverview" table-bordered>
							<tbody>
								<#list order.products as orderProduct>
								<tr id="order${order_index}Product${orderProduct_index}">
									<td class="productImg"><a
										href="${contextPath}/productDetail/${orderProduct.product.name?url('UTF-8')}?productId=${orderProduct.product.id}"><img
											data-src="${contextPath}/assets/js/holder.js/150x100"
											title="${orderProduct.product.descriptionOverview}"
											alt="${orderProduct.product.descriptionOverview}"
											src="${contextPath}${orderProduct.product.imageURL}"
											width="150"></img></a></td>
									<td class="productInfo">
										<div class="productName">${orderProduct.product.name}</div>
										<div class="productDescriptionOverview">${orderProduct.product.descriptionOverview}</div>
										<div class="productMetaInfo text-left">
											<small>
												<ul class="list-unstyled">
													<li>${i18n("cartStyle")}: <span class="productStyle">${orderProduct.finish}</span>
													</li>
													<li>${i18n("cartSize")}: <span class="productSize">${orderProduct.size.width}
															x ${orderProduct.size.height} ${unitLength}</span>
													</li>
												</ul>
											</small>
										</div></td>
									<td class="orderCount">${orderProduct.productCount}x</td>
								</tr>
								</#list>
							</tbody>
						</table>
					</td>
				</tr>
				</#list>
			</tbody>
		</table>
</fieldset>
</@layout.myLayout>
