<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">
	<h1>${i18n("titlePaymentInformation")}</h1>
	<#list paymentOverview as payment>
		<#if (payment_index + 3) % 3 ==0>
      		<div class="row-fluid">
      			<ul>
    	</#if>
      				<li class="span4">
      					<address>
      						<strong>${i18n("titleName")}: ${payment.name}</strong><br>
      						${i18n("titleCreditCard")}: ${payment.getCardNumberCryptic()}<br>
      						${i18n("titleValidTo")}: ${payment.month} ${payment.year}<br>
      					</address>
      					<form action="/deletePayment" method="post">
							<input name="cardId" id="cardId" type="hidden" value=${payment.id}></input>
							<button class="btn btn-danger" id="submit" name="submit" type="submit">${i18n("buttonDelete")}</button>
						</form>
      				</li>
		<#if (payment_index + 1) % 3 ==0>
      			</ul>
      		</div>
      	</#if>
      	<#if !payment_has_next && (payment_index + 1) % 3 !=0>
      	    	</ul>
      		</div>
      	</#if>
	</#list>
	<div class="span4 offset6">
		<a href="/addPaymentToCustomer">${i18n("paymentMethodAddNew")}</a>
	</div>
</@layout.myLayout>
