<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">    	

	<h1>Settings overview</h1>
	
	<div class="row">
		<div class="span3">
			${customer.firstName} ${customer.name}
		</div>
		<div class="span3 offset1">
			<form action="/" method="post">
    			<input name="customerId" id="customerId" type="hidden" value=${customer.id}></input>
    			<button class="btn"id="submit" name="submit" type="submit">Change detail</button>
			</form>
		</div>
	</div>
	
	<div class="row">
		<div class="span3">
			${customer.email}
		</div>
	</div>
	
	<div class="row">
		<div class="span3">
			<form action="/" method="post">
    			<input name="customerId" id="customerId" type="hidden" value=${customer.id}></input>
    			<button class="btn"id="submit" name="submit" type="submit">Change password</button>
			</form>
		</div>
		<div class="span3 offset1">
			<form action="/" method="post">
    			<input name="customerId" id="customerId" type="hidden" value=${customer.id}></input>
    			<button class="btn"id="submit" name="submit" type="submit">Delete account</button>
			</form>
		</div>
	</div>

</@layout.myLayout>
