<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">
<fieldset>
	<legend id="titlePersonalData">
		<span class="h2">${i18n("titleSettings")}</span>
	</legend>
	<div class="col-sm-12">
		<div class="form-group row">
			<div class="col-sm-12">
				<a href="${contextPath}/confirmDeleteAccount" id="btnDeleteAccount"
					class="btn btn-danger pull-right">${i18n("confirmDeletionTitle")}</a>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2">${i18n("titleName")}:</div>
			<div class="col-sm-10" id="customerName">
				<span id="customerFirstName">${customer.firstName}</span> <span
					id="customerLastName">${customer.name}</span>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2">${i18n("titleEmail")}:</div>
			<div class="col-sm-4" id="customerEmail">${customer.email}</div>
			<div class="col-sm-6"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10">
				<a href="${contextPath}/changeNameOrEmail" id="btnChangeNameEmail">${i18n("settingsChange")}</a>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10">
				<a href="${contextPath}/changePassword" id="btnChangePassword">${i18n("changePasswordTitle")}</a>
			</div>
		</div>
	</div>
</fieldset>
</@layout.myLayout>
