<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop"> 

<form class="form-horizontal" action="/updateDeliveryAddressCompleted" method="post">
<fieldset>

<!-- Form Name -->
<legend>Change billing address</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="fullName">Full name:</label>
  <div class="controls">
    <input id="fullName" name="fullName" placeholder="" class="input-xlarge" required="" type="text" value=${billingAddress.name}>
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="addressLine1">Address Line 1:</label>
  <div class="controls">
    <input id="addressLine1" name="addressLine1" placeholder="Street address, company name" class="input-xlarge" required="" type="text" value=${billingAddress.addressline1}>
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="adressLine2">Address Line 2:</label>
  <div class="controls">
    <input id="addressLine2" name="addressLine2" placeholder="Apartment, suite, floor, etc." class="input-xlarge" required="" type="text" value=${billingAddress.addressline2}>
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="city">City:</label>
  <div class="controls">
    <input id="city" name="city" placeholder="" class="input-xlarge" required="" type="text" value=${billingAddress.city}>
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="state">State / Province / Region:</label>
  <div class="controls">
    <input id="state" name="state" placeholder="" class="input-xlarge" required="" type="text" value=${billingAddress.state}>
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="zip">ZIP:</label>
  <div class="controls">
    <input id="zip" name="zip" placeholder="" class="input-xlarge" required="" type="text" value=${billingAddress.zip}>
    
  </div>
</div>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="country">Country:</label>
  <div class="controls">
    <select id="country" name="country" class="input-xlarge">
      <option>United States</option>
      <option>Germany</option>
    </select>
  </div>
</div>

<input name="addressId" id="addressId" type="hidden" value=${billingAddress.id}></input>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="continue"></label>
  <div class="controls">
    <button id="continue" name="continue" class="btn btn-primary" type="submit">Save changes</button>
  </div>
</div>

</fieldset>
</form>

</@layout.myLayout>
