<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">

<div class="container mt-3">
    <!-- Progress Indicator -->
    <div class="d-flex justify-content-center mb-3">
        <div class="progress-indicator row justify-content-center col-md-8 progress-3">
            <#include "../components/checkoutProgress.ftl.html"/>
        </div>
    </div>
    <!-- Shipping Form -->
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form id="form-add-bill-addr" action="${contextPath}/billingAddressCompleted" method="post" class="form-with-background">
                <div id="title-bill-addr">
                    <h2 class="text-center">${i18n("billingAddressTitleEnter")}</h2>
                </div>
                <!-- include address form -->
                <#include "../components/addressForm.ftl.html"/>
                <hr>                              
				<!-- required fields info and continue button -->
                <div class="d-flex">
                    <div class="me-auto req-field">*${i18n('titleRequiredFields')}</div>
                    <button type="submit" id="btn-add-bill-addr" class="ms-auto btn btn-primary">${i18n('buttonContinue')}</button>
                </div>               
            </form>
        </div>       
    </div>    
</div>
</@layout.myLayout>
