<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">
<div>
	<div id="titleBillAddr" class="header-container">
		<span class="h2">${i18n("billingAddressTitleEnter")}</span>
	</div>

	<!-- enter address -->
	<form id="formAddBillAddr" class="form-horizontal"
		action="${contextPath}/billingAddressCompleted" method="post">
		<!-- include form -->
		<#include "../components/addressForm.ftl.html"/>
		<!-- continue button -->
		<div class="form-group">
			<div class="col-sm-12 nopadding">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					<span class="reqField pull-left textcolordarkgrey">*
						${i18n('titleRequiredFields')}</span>
					<button id="btnAddBillAddr" class="btn btn-primary pull-right"
						name="btnAddBillAddr" type="submit">${i18n('buttonContinue')}</button>
				</div>
			</div>
		</div>
	</form>
</div>
</@layout.myLayout>
