<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">
	<h1>${i18n("titleOrderOverview")}</h1>
	<!-- print products -->
	<h3>${i18n("titleProducts")}</h3>
	<table class="table" table-bordered>
		<#list orderProducts as orderProduct>
		<tr>
			<td><a href=/productDetail/${orderProduct.product.url}><img data-src="/assets/js/holder.js/150x100" alt="" src=${orderProduct.product.imageURL} width="150"></img></a></td>
			<td>${orderProduct.product.name}</td>
			<td>${orderProduct.product.descriptionOverview}</td>
			<td>${orderProduct.product.price}</td>
			<td>${orderProduct.countProduct}</td>
		</tr>
		</#list>
	</table>
	<!-- print total price -->
	<div class="row">
		<div class="span4 offset8">
			<h3>${i18n("checkoutOverviewSalesTax")}: ${order.tax*100}%</h3>
		</div>
	</div>
	<div class="row">
		<div class="span4 offset8">
			<h3>${i18n("checkoutOverviewShippingCosts")}: ${order.shippingCosts}</h3>
		</div>
	</div>
	<div class="row">
		<div class="span4 offset8">
			<h3>${i18n("checkoutOverviewTotalCosts")}: ${order.totalCosts}$</h3>
		</div>
	</div>
	<div class="row-fluid">
		<ul>
			<!-- print delivery address -->
			<li class="span4">
				<h3>${i18n("titleDeliveryAddress")}</h3>
				<address>
      				<strong>${order.deliveryAddress.name}</strong><br>
      				${order.deliveryAddress.addressline1}<br>
      				${order.deliveryAddress.addressline2}<br>
      				${order.deliveryAddress.zip} ${order.deliveryAddress.city}<br>
      				${order.deliveryAddress.state} ${order.deliveryAddress.country}<br>
      			</address>
			</li>
			<!-- print billing address -->
			<li class="span4">
				<h3>${i18n("titleBillingAddress")}</h3>
				<address>
      				<strong>${order.billingAddress.name}</strong><br>
      				${order.billingAddress.addressline1}<br>
      				${order.billingAddress.addressline2}<br>
      				${order.billingAddress.zip} ${order.billingAddress.city}<br>
      				${order.billingAddress.state} ${order.billingAddress.country}<br>
      			</address>
			</li>
			<!-- print credit card -->
			<li class="span4">
				<h3>${i18n("titlePaymentInformation")}</h3>
				<address>
      				${i18n("titleName")}: ${order.creditCard.name}<br>
      				${i18n("titleCreditCard")}: ${order.creditCard.getCardNumberCryptic()}<br>
      				${i18n("titleValidTo")}: ${order.creditCard.month} ${order.creditCard.year}<br>
      			</address>
			</li>
		</ul>
	</div>
	<!-- order button -->
	<div class="row">
		<div class="span4 offset8">
			<form action="/checkoutCompleted" method="post">
    			<button class="btn"id="submit" name="submit" type="submit">${i18n("checkoutOverviewOrderWithCosts")}</button>
			</form>
		</div>
	</div>
</@layout.myLayout>