<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">

	<h1>${i18n("titleOrderOverview")}</h1>
	<h3>${i18n("titleProducts")}</h3>
	<table class="table" table-bordered>
		<#list orderProducts as orderProduct>
		<tr>
			<td><a href=/productDetail/${orderProduct.product.url}><img data-src="/assets/js/holder.js/150x100" alt="" src=${orderProduct.product.imageURL} width="150"></img></a></td>
			<td>${orderProduct.product.name}</td>
			<td>${orderProduct.product.descriptionOverview}</td>
			<td>${orderProduct.product.price}</td>
			<td>${orderProduct.countProduct}</td>
		</tr>
		</#list>
	</table>
	<div class="row">
		<div class="span4 offset8">
			<h3>${i18n("checkoutOverviewSalesTax")}: ${order.tax*100}%</h3>
		</div>
	</div>
	<div class="row">
		<div class="span4 offset8">
			<h3>${i18n("checkoutOverviewShippingCosts")}: ${order.shippingCosts}</h3>
		</div>
	</div>
	<div class="row">
		<div class="span4 offset8">
			<h3>${i18n("checkoutOverviewTotalCosts")}: ${order.totalCosts}$</h3>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<h3>${i18n("titleDeliveryAddress")}</h3>
		</div>
		<div class="span4 offset1">
			<h3>${i18n("titleBillingAddress")}</h3>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			${order.deliveryAddress.name}
		</div>
		<div class="span4 offset1">
			${order.billingAddress.name}
		</div>
	</div>
	<div class="row">
		<div class="span4">
			${order.deliveryAddress.addressline1}
		</div>
		<div class="span4 offset1">
			${order.billingAddress.addressline1}
		</div>
	</div>
	<div class="row">
		<div class="span4">
			${order.deliveryAddress.addressline2}
		</div>
		<div class="span4 offset1">
			${order.billingAddress.addressline2}
		</div>
	</div>
	<div class="row">
		<div class="span4">
			${order.deliveryAddress.zip} ${order.deliveryAddress.city}
		</div>
		<div class="span4 offset1">
			${order.billingAddress.zip} ${order.billingAddress.city}
		</div>
	</div>
	<div class="row">
		<div class="span4">
			${order.deliveryAddress.state}
		</div>
		<div class="span4 offset1">
			${order.billingAddress.state}
		</div>
	</div>
	<div class="row">
		<div class="span4">
			${order.deliveryAddress.country}
		</div>
		<div class="span4 offset1">
			${order.billingAddress.country}
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<h3>${i18n("titlePaymentInformation")}</h3>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<p>${i18n("titleName")}:   ${order.creditCard.name}</p>
			<p>${i18n("titleNumber")}: ${order.creditCard.cardNumber}</p>
		</div>
	</div>
	<div class="row">
		<div class="span4 offset8">
			<form action="/checkoutCompleted" method="post">
    			<button class="btn"id="submit" name="submit" type="submit">${i18n("checkoutOverviewOrderWithCosts")}</button>
			</form>
		</div>
	</div>

</@layout.myLayout>