<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">
	<h3 id="titleDelAddr">${i18n("deliveryAddressTitleSelect")}</h3>
	<#if deliveryAddresses??>
	<!-- choose available address -->
	<#list deliveryAddresses as address>
		<#if (address_index + 3) % 3 ==0>
      		<div class="row-fluid">
      			<ul>
    	</#if>
      				<li class="span4" id="delAddr${address_index}">
      					<address>
      						<strong>${address.name}</strong><br>
      						${address.company}<br>
      						${address.addressLine}<br>
      						${address.city}, ${address.state} ${address.zip}<br>
      						${address.country}<br>
      					</address>
      					<form action="/addDeliveryAddressToOrder" method="post">
    						<input name="addressId" id="addressId" type="hidden" value=${address.id}></input>
    						<button class="btn" id="btnUseDelAddress${address_index}" name="btnUseDelAddress${address_index}" type="submit">${i18n("deliveryAddressChoose")}</button>
						</form>
      				</li>
		<#if (address_index + 1) % 3 ==0>
      			</ul>
      		</div>
      	</#if>
      	<#if !address_has_next && (address_index + 1) % 3 !=0>
      	    	</ul>
      		</div>
      	</#if>
	</#list>
	</#if>
	<!-- add new address -->
	<form id="formAddDelAddr" class="form-horizontal" action="/deliveryAddressCompleted" method="post">
		<fieldset>
			<!-- Form Name -->
			<legend>${i18n("deliveryAddressAddNew")}</legend>
			<!-- include form -->
			<#include "../form/addressForm.ftl.html"/>
			<!-- choose: delivery equals billing address -->
			<div class="control-group">
				<label class="control-label" for="billingAddress">${i18n("deliveryAddressEqualsBillingAddress")}?</label>
				<div class="controls">
					<label class="radio" for="billingAddress-0">
						<input name="billingAddress" id="billingAddress-0" value="Yes" checked="checked" type="radio">
							${i18n("chooseYes")}
					</label>
					<label class="radio" for="billingAddress-1">
						<input name="billingAddress" id="billingAddress-1" value="No" type="radio">
							${i18n("chooseNo")}
					</label>
				</div>
			</div>
			<!-- continue button -->
			<div class="control-group">
				<label class="control-label" for="continue"></label>
				<div class="controls">
					<button id="btnAddDelAddr" name="btnAddDelAddr" class="btn btn-primary" type="submit">${i18n("buttonContinue")}</button>
				</div>
			</div>
		</fieldset>
	</form>
</@layout.myLayout>
