<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">

<div class="container mt-3">
    <!-- Progress Indicator -->
    <div id="checkout-progress-indicator" class="d-flex justify-content-center mb-3">
        <div class="progress-indicator row justify-content-center col-md-8 progress-6">
            <#include "../components/checkoutProgress.ftl.html"/>
        </div>
    </div>  
    <div id="confirmation-row" class="row">
        <div class="col-sm-10 offset-sm-1 text-center">
            <p id="confirm-check" class="icon-addcart"><span><i class="icon-check"></i></span></p>
            <h2 id="thank-you-text" class="mb-4">Thank you for your purchase, your order is being processed.</h2>
            <p>
                <a id="go-home" href="${contextPath}/${lang}"class="btn btn-primary"><i class="icon-shopping-cart me-1"></i>Continue Shopping</a>
            </p>
        </div>
    </div>
</div>
</@layout.myLayout>
