<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">


<div class="container mt-3">
    <!-- Progress Indicator -->
    <div class="d-flex justify-content-center mb-3">
        <div class="progress-indicator row justify-content-center col-md-8 progress-4">
            <#include "../components/checkoutProgress.ftl.html"/>
        </div>
    </div>
	<!-- add new credit card -->
    <div class="row  justify-content-center">
        <div class="col-lg-6">
            <form id="formAddPayment" action="${contextPath}/paymentMethodCompleted" method="post" class="form-with-background">
                <h2 id="titlePayment" class="text-center">${i18n("paymentMethodTitlEnter")}</h2>
                <!-- include payment form -->
				<#include "../components/paymentForm.ftl.html"/>
                <hr>
                <div class="d-flex">
                    <div class="me-auto">*${i18n('titleRequiredFields')}</div>
                    <button type="submit" class="ms-auto btn btn-primary" id="btnAddPayment" name="btnAddPayment">${i18n('buttonContinue')}</button>
                </div>
            </form>
        </div>
    </div>
</div>
</@layout.myLayout>
