<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">


<div class="container mt-3">
    <!-- Progress Indicator -->
    <div class="d-flex justify-content-center mb-3">
        <div class="progress-indicator row justify-content-center col-md-8 progress-4">
            <#include "../components/checkoutProgress.ftl.html"/>
        </div>
    </div>
	<!-- add new credit card -->
    <div class="row  justify-content-center">
        <div class="col-lg-6">
            <form id="formAddPayment" action="${contextPath}/paymentMethodCompleted" method="post" class="form-with-background">
                <h2 id="titlePayment" class="text-center">${i18n("paymentMethodTitlEnter")}</h2>
                <div class="row">
                <!-- include address form -->
					<#include "../components/paymentForm.ftl.html"/>
                    <hr>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 nopadding">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-xs-12">
                                    <span class="reqField pull-left textcolordarkgrey">* ${i18n('titleRequiredFields')}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button id="btnAddPayment" class="btn btn-primary pull-right" name="btnAddPayment" type="submit">${i18n('buttonContinue')}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</@layout.myLayout>
