<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">
	<h3 id="titlePayment">${i18n("paymentMethodTitleSelect")}</h3>
	<#if paymentOverview??>
	<!-- choose available credit card -->
	<#list paymentOverview as payment>
		<#if (payment_index + 3) % 3 ==0>
      		<div class="row">
      			<ul>
    	</#if>
      				<li class="col-md-4" id="payment${payment_index}">
      					<address>
      						<strong>${i18n("titleName")}: ${payment.name}</strong><br>
      						${i18n("titleCreditCard")}: ${payment.getCardNumberCryptic()}<br>
      						${i18n("titleValidTo")}: ${payment.getMonthLeadingZero()} ${payment.year}<br>
      					</address>
      					<form action="addPaymentToOrder" method="post">
    						<input name="cardId" id="cardId" type="hidden" value=${payment.id}></input>
    						<button class="btn" id="btnUsePayment${payment_index}" name="btnUsePayment${payment_index}" type="submit">${i18n("paymentMethodChoose")}</button>
						</form>
      				</li>
		<#if (payment_index + 1) % 3 ==0>
      			</ul>
      		</div>
      	</#if>
      	<#if !payment_has_next && (payment_index + 1) % 3 !=0>
      	    	</ul>
      		</div>
      	</#if>
	</#list>
	</#if>
	<!-- add new credit card -->
	<form id="formAddPayment" class="form-horizontal" action="${contextPath}/paymentMethodCompleted" method="post">
		<fieldset>
			<!-- Form Name -->
			<legend>${i18n("paymentMethodAddNew")}</legend>
			<!-- include form -->
			<#include "../form/paymentForm.ftl.html"/>
			<!-- continue button -->
			<div class="control-group">
				<label class="control-label" for="continue"></label>
				<div class="controls">
					<button id="btnAddPayment" name="btnAddPayment" class="btn btn-primary" type="submit">${i18n("buttonContinue")}</button>
				</div>
			</div>
		</fieldset>
	</form>
</@layout.myLayout>