<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">

<div class="container">
    <!-- Process Indicator -->
    <div class="row row-pb-lg  justify-content-center">
        <div class="col-lg-12">
            <div class="process-wrap">
                <div class="process text-center active">
                    <p><span>01</span></p>
                    <h3>Shopping Cart</h3>
                </div>
                <div class="process text-center active">
                    <p><span>02</span></p>
                    <h3>Shipping Address</h3>
                </div>
                <div class="process text-center">
                    <p><span>03</span></p>
                    <h3>Billing Address</h3>
                </div>
                <div class="process text-center">
                    <p><span>04</span></p>
                    <h3>Payment Method</h3>
                </div>
                <div class="process text-center">
                    <p><span>05</span></p>
                    <h3>Checkout</h3>
                </div>
                <div class="process text-center">
                    <p><span>06</span></p>
                    <h3>Order Complete</h3>
                </div>
            </div>
        </div>
    </div>
            <!-- Shipping Form -->
    <div class="row  justify-content-center">

        <div class="col-lg-6">
            
        
            <form id="formAddDelAddr" action="${contextPath}/shippingAddressCompleted" method="post" class="colorlib-form">
                <div id="titleDelAddr">
                    <h2 class="text-center">${i18n("shippingAddressTitleEnter")}</h2>
                </div>
                
                <div class="row">
                    <!-- include address form -->
                    <#include "../components/addressForm.ftl.html"/>

                    <hr>
                    
            
                    <!-- choose: shipping equals billing address -->
                    <div class="col-md-12">
                        <div class="control-label font-bold">
                            ${i18n("shippingAddressEqualsBillingAddress")}?*
                        </div>
                        <div class="form-group">
                            <div class="radio">
                            <label><input type="radio" name="billEqualShipp" id="billEqualShipp-Yes" checked="checked" value="Yes">  ${i18n("chooseYes")}</label>
                            <label><input type="radio" name="billEqualShipp" id="billEqualShipp-No" value="No"> ${i18n("chooseNo")}</label>
                            </div>
                        </div>
                    </div>            
                </div>
                <div class="form-group">
                    <div class="col-sm-12 nopadding">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-xs-12">
                                    <span class="reqField pull-left textcolordarkgrey">* ${i18n('titleRequiredFields')}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button id="btnAddDelAddr" class="btn btn-primary pull-right"
                                    name="btnAddDelAddr" type="submit">${i18n('buttonContinue')}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>


        
    </div>
        
    
</div>
</@layout.myLayout>


