<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">
<fieldset>
	<legend id="titleDelAddr">
		<h2>${i18n("shippingAddressTitleEnter")}</h2>
	</legend>

	<!-- enter address -->
	<form id="formAddDelAddr" class="form-horizontal"
		action="${contextPath}/shippingAddressCompleted" method="post">

		<!-- include form -->
		<#include "../form/addressForm.ftl.html"/>

		<hr>
		<!-- choose: shipping equals billing address -->
		<div class="form-group">
			<label class="col-sm-11 control-label text-right"
				for="billEqualShipp">${i18n("shippingAddressEqualsBillingAddress")}?</label>
			<div class="col-sm-1">
				<label for="billEqualShipp-Yes"> <input
					name="billEqualShipp" id="billEqualShipp-Yes" value="Yes"
					checked="checked" type="radio"> ${i18n("chooseYes")}
				</label> <label for="billEqualShipp-No"> <input
					name="billEqualShipp" id="billEqualShipp-No" value="No"
					type="radio"> ${i18n("chooseNo")}
				</label>
			</div>
		</div>

		<!-- continue button -->
		<div class="form-group">
			<div class="col-sm-12">
				<button id="btnAddDelAddr" name="btnAddDelAddr"
					class="btn btn-primary pull-right" type="submit">${i18n("buttonContinue")}</button>
			</div>
		</div>

	</form>
</fieldset>
</@layout.myLayout>
