<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">    	

	<h1>Order overview</h1>
	
	<#list orderOverview as order>
	<div class="span2">
		${order.date}
		${order.totalCosts}$
	</div>
	<div class="span8">
		<table class="table" table-bordered>
		<#list order.basket.productIds as product>
		<tr>
			<td><a href=/productDetail/${product.url}><img data-src="/assets/js/holder.js/150x100" alt="" src=${product.imageURL} width="150"></img></a></td>
			<td>${product.name}</td>
			<td>${product.descriptionOverview}</td>
		</tr>
		</#list>
		</table>
	</div>
	</#list>

</@layout.myLayout>
