<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">    	
	<h1 id="titleBasket">${i18n("basketOverviewTitle")}</h1>
	<table class="table" table-bordered>
		<#list basketProducts as basketProduct>
			<tr id="product${basketProduct_index}">
				<td><a href=/productDetail/${basketProduct.product.url?url('UTF-8')}><img data-src="/assets/js/holder.js/150x100" alt="" src=${basketProduct.product.imageURL} width="150"></img></a></td>
				<td id="productName${basketProduct_index}">${basketProduct.product.name}</td>
				<td id="productDescriptionOverview${basketProduct_index}">${basketProduct.product.descriptionOverview}</td>
				<td id="productFinish${basketProduct_index}">${basketProduct.finish}</td>
				<td id="productSize${basketProduct_index}">${basketProduct.size.width} x ${basketProduct.size.height} ${unitLength}</td>
				<td id="productPrice${basketProduct_index}">${basketProduct.getPriceAsString()}${currency}</td>
				<td>
	      			<input class="input-mini productCount${basketProduct_index}" type="number" id="productCount${basketProduct_index}" name="productCount${basketProduct_index}" value=${basketProduct.productCount}><br/>
	      			<button class="btn" id="btnUpdateProdCount${basketProduct_index}" name="btnUpdateProdCount${basketProduct_index}" onclick="updateProductCount(${basketProduct.id}, $('#productCount${basketProduct_index}').val(), ${basketProduct_index})">${i18n("basketOverviewUpdateQuantity")}</button>
				</td>
				<td>
      				<button class="btn" id="btnRemoveProduct${basketProduct_index}" name="btnRemoveProduct${basketProduct_index}" onclick="deleteFromCart(${basketProduct.id}, ${basketProduct_index})">${i18n("basketOverviewRemoveFromBasket")}</button>
				</td>
			</tr>
		</#list>
	</table>

	<h3 align="right">${i18n("basketOverviewTotalPrice")}: <b id="totalPrice">${totalPrice}${currency}</b></h3>
	
	<h3 align="right"><a href="${applUrlHttps}/checkout" id="btnStartCheckout">${i18n("basketOverviewStartCheckout")}</a></h3>

</@layout.myLayout>
