<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">    	
	<h1 id="titleBasket">${i18n("basketOverviewTitle")}</h1>
	<table class="table" table-bordered>
		<#list basketProducts as basketProduct>
			<tr id="product${basketProduct_index}">
				<td><a href=/productDetail/${basketProduct.product.url?url('UTF-8')}><img data-src="/assets/js/holder.js/150x100" alt="" src=${basketProduct.product.imageURL} width="150"></img></a></td>
				<td id="productName${basketProduct_index}">${basketProduct.product.name}</td>
				<td id="productDescriptionOverview${basketProduct_index}">${basketProduct.product.descriptionOverview}</td>
				<td id="productFinish${basketProduct_index}">${basketProduct.finish}</td>
				<td id="productPrice${basketProduct_index}">${basketProduct.product.price}${currency}</td>
				<td>
					<form id="formProdCount${basketProduct_index}" class="form-inline" action="/updateProductCount" method="post">
	      				<input class="input-mini productCount${basketProduct_index}" type="number" id="productCount" name="productCount" value=${basketProduct.countProduct}>
      					<input type="hidden" id="basketProductId" name="basketProductId" value=${basketProduct.id}>
      					<button class="btn" id="btnUpdateProdCount${basketProduct_index}" name="btnUpdateProdCount${basketProduct_index}" type="submit">${i18n("basketOverviewUpdateQuantity")}</button>
   	   				</form>
				</td>
				<td>
					<form action="/deleteFromBasket" method="post">
      					<input type="hidden" id="basketProductId" name="basketProductId" value=${basketProduct.id}>
      					<button class="btn" id="btnRemoveProduct${basketProduct_index}" name="btnRemoveProduct${basketProduct_index}" type="submit">${i18n("basketOverviewRemoveFromBasket")}</button>
      				</form>
				</td>
			</tr>
		</#list>
	</table>

	<h3 align="right">${i18n("basketOverviewTotalPrice")}: <b id="totalPrice">${totalPrice}${currency}</b></h3>
	
	<h3 align="right"><a href="${applUrlHttps}/checkout" id="btnStartCheckout">${i18n("basketOverviewStartCheckout")}</a></h3>

</@layout.myLayout>
