<#import "layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The Ultimate Webshop">

    <div class="container text-center" style="margin-bottom: 50px">
        <div class="row">
            <div class="col-md-12">
                <h3 id="not-found-message" class="mt-5 mb-3">
                    Sorry, we could not find a match for your search. Please check your spelling or try something less specific.
                </h3>
                
            </div>
        </div>
    </div>

    <div class="container text-center">
        <h4 class="mb-4">
            You might want to have a look in the following categories.
        </h4>
        <div class="row category-display-case">
            <#list topCategory as tC>
                <div class="card category-tile">
                    <a href="${applUrlHttp}/topCategory/${tC.name?url('UTF-8')}?categoryId=${tC.id}">
                        <img
                            srcset="${contextPath}${productslistcat[tC_index].smallImageURL} 400w,
                                    ${contextPath}${productslistcat[tC_index].mediumImageURL} 800w,
                                    ${contextPath}${productslistcat[tC_index].largeImageURL} 2000w"
                            sizes="296px"
                            src="${contextPath}${productslistcat[tC_index].originalImageURL}"
                            alt="${tC.name} category image"
                            class="category-tile-image"
                            id="category-picture-${tC_index}">
                    </a>						
                    <div class="card-body">
                        <h2><a href="${applUrlHttp}/topCategory/${tC.name?url('UTF-8')}?categoryId=${tC.id}" class="category-tile-title">${tC.name}</a></h2>
                    </div>
                </div>
		</#list>
        </div>
    </div>

</@layout.myLayout>
