<div id="cartContainer" class="nav-collapse collapse navbar-responsive-collapse">
<div id="slidingTopWrap">
	<div id="slidingTopContent">
		<div id="cartSliderWrap">
			<div id="cartSliderTitleWrap">
				<a id="cartSliderHeader" href="${applUrlHttp}/cart">${i18n("cartOverviewTitle")}</a>
				<span id="notificationsLoader"></span>
			</div>
			<div id="cartSliderItemsWrap">
				<ul id="cartSliderElementList">
				</ul>
			</div>
			<div class="order-totals">${i18n("cartOverviewTotalPrice")}: <span id="cartSliderTotalPrice"></span></div>
		</div>
	</div>
	<div id="slidingTopFooter">
		<div id="slidingTopFooterLeft">
			<button class="btn" id="slidingTopTriggerShow" onclick="showCartSlider()">${i18n("cartShow")}</button>
			<button class="btn" id="slidingTopTriggerHide" onclick="showCartSlider()">${i18n("cartHide")}</button>
		</div>
	</div>
</div>
</div>
