<div id="cartContainer">
	<div id="slidingTopWrap">
		<div id="slidingTopContent">
			<div id="cartSliderWrap">
				<div id="cartSliderItemsWrap">
					<ul id="cartSliderElementList">
					</ul>
				</div>
				<div class="order-totals row">
					<div class="col-sm-8 text-left">${i18n("cartTableHeaderSubOrderPrice")}</div>
					<div class="col-sm-4 text-right"><div id="cartSliderSubOrderPrice"></div></div>
				</div>
				<div id="cartSliderTitleWrap">
					<a href="${applUrlHttp}/cart" id="cartSliderHeader"
						class="btn btn-primary form-control">${i18n("cartOverviewTitle")}</a> <span
						id="notificationsLoader"></span>
				</div>
			</div>
		</div>
	</div>
</div>
