<div id="slidingTopWrap">
	<div id="slidingTopContent">
		<div id="basketWrap">
			<div id="basketTitleWrap">
				<a id="cartSliderHeader" href="/basket">${i18n("basketOverviewTitle")}</a>
				<span id="notificationsLoader"></span>
			</div>
			<div id="basketItemsWrap">
				<ul id="cartElementList">
				</ul>
			</div>
		</div>
	</div>
	<div id="slidingTopFooter">
		<div id="slidingTopFooterLeft">
			<button class="btn" id="slidingTopTriggerShow" onclick="showCartSlider()">${i18n("basketShow")}</button>
			<button class="btn" id="slidingTopTriggerHide" onclick="showCartSlider()">${i18n("basketHide")}</button>
		</div>
	</div>
</div>
