<div id="breadcrumbCheckout">
	<ul class="breadcrumb text-left">
		<!-- add shipping address -->
		<li id="btnDelAddr"><a href="enterShippingAddress">${i18n("titleShippingAddress")}</a>
			<span class="divider"> > </span></li>
		<!-- add billing address -->
		<#if billingAddressActive??>
		<li class="active" id="btnBillAddr"><a
			href="${contextPath}/enterBillingAddress">${i18n("titleBillingAddress")}</a>
			<#else>
		<li id="btnBillAddr">${i18n("titleBillingAddress")} </#if> <span
			class="divider"> > </span></li>
		<!-- add credit card -->
		<#if creditCardActive??>
		<li class="active" id="btnCreditCard"><a
			href="${contextPath}/enterPaymentMethod">${i18n("titlePayment")}</a>
			<#else>
		<li id="btnCreditCard">${i18n("titlePayment")} </#if> <span
			class="divider"> > </span></li>
		<!-- place order -->
		<#if placeOrderActive??>
		<li class="active" id="btnPlaceOrder"><a
			href="${contextPath}/checkoutOverview">${i18n("buttonPlaceOrder")}</a>
			<#else>
		<li id="btnPlaceOrder">${i18n("buttonPlaceOrder")} </#if></li>
	</ul>
</div>