<div class="row" id="breadcrumbCheckout">
	<ul class="breadcrumb span6 offset4 text-center">
		<!-- add delivery address -->
		<#if deliveryAddressActive??>
		<li class="active" id="btnDelAddr">
		<#else>
		<li id="btnDelAddr">
		</#if>
			Delivery address <span class="divider"> > </span></li>
		<!-- add billing address -->	
		<#if billingAddressActive??>
		<li class="active" id="btnBillAddr">
		<#else>
		<li id="btnBillAddr">
		</#if>
			Billing address <span class="divider"> > </span></li>
		<!-- add credit card -->
		<#if creditCardActive??>
		<li class="active" id="btnCreditCard">
		<#else>
		<li id="btnCreditCard">
		</#if>
			Credit card <span class="divider"> > </span></li>
		<!-- place order -->
		<#if placeOrderActive??>
		<li class="active" id="btnPlaceOrder">
		<#else>
		<li id="btnPlaceOrder">
		</#if>
			Place order</li>
	</ul>
</div>