<#macro myLayout title="The ultimate poster webshop">
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/assets/css/bootstrap-form.css" rel="stylesheet">
    	<style type="text/css">
      		body {
        		padding-top: 60px;
        		padding-bottom: 40px;
        		padding-left: 20px;
        		padding-right: 100px;
      		}
    	</style>
    </head>
    <body>
    	<!-- header -->
		<#include "header.ftl.html"/>
		<!-- messages -->
		<#if errorMessage??>
			<div class="row">
				<div class="span6 offset3 text-center alert alert-error">
  					<a class="close" data-dismiss="alert">×</a>
  					<strong>${errorMessage}</strong>
				</div>
			</div>
		</#if>
		<#if successMessage??>
			<div class="row">
				<div class="span6 offset3 text-center alert alert-success">
  					<a class="close" data-dismiss="alert">×</a>
  					<strong>${successMessage}</strong>
				</div>
			</div>
		</#if>
		<#if infoMessage??>
			<div class="row">
				<div class="span6 offset3 text-center alert alert-info">
  					<a class="close" data-dismiss="alert">×</a>
  					<strong>${infoMessage}</strong>
				</div>
			</div>
		</#if>
		<!-- body -->
		<div class="container-fluid">
			<div class="row">
				<!-- sidebar -->
				<div class="span3">
					<#include "sidebar.ftl.html"/>
				</div>
				<!-- content -->
				<div class="span11 offset1">
					<#nested/>
				</div>
			</div>
			<!-- footer -->
			<hr>
			<#include "footerWebShop.ftl.html"/>
		</div>

		<script src="/assets/js/jquery-1.9.1.min.js"></script>
    	<script src="/assets/js/bootstrap.min.js"></script>
    	<script src="/assets/js/bootstrap-tooltip.js"></script>
		<script src="/assets/js/bootstrap-form.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('form').form();
			});
		</script>
    </body>
</html>
</#macro>
