<#macro myLayout title="The ultimate poster webshop">
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/assets/css/bootstrap-form.css" rel="stylesheet">
	<link href="/assets/css/pagination.css" rel="stylesheet"/>
    <style type="text/css">
      	body {
        	padding-top: 60px;
        	padding-bottom: 40px;
        	padding-left: 20px;
        	padding-right: 40px;
      	}
    </style>
    
	<script src="/assets/js/jquery-1.9.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-tooltip.js"></script>
	<script src="/assets/js/bootstrap-form.js"></script>
	<script src="/assets/js/bootstrap-paginator.js"></script>
	<script src="/assets/js/bootstrap-collapse.js"></script>
  </head>
  <body>
    	<!-- header -->
		<#include "header.ftl.html"/>
		<!-- checkout breadcrumb -->
		<#if checkout??>
			<#include "checkoutBreadcrumb.ftl.html"/>
		</#if>
		<!-- messages -->
		<#if flash.error??>
			<div class="row" id="errorMessage">
				<div class="span6 offset3 text-center alert alert-error">
  					<a class="close" data-dismiss="alert">×</a>
  					<strong>${flash.error}</strong>
				</div>
			</div>
		</#if>
		<#if flash.success??>
			<div class="row" id="successMessage">
				<div class="span6 offset3 text-center alert alert-success">
  					<a class="close" data-dismiss="alert">×</a>
  					<strong>${flash.success}</strong>
				</div>
			</div>
		</#if>
		<#if flash.info??>
			<div class="row" id="infoMessage">
				<div class="span6 offset3 text-center alert alert-info">
  					<a class="close" data-dismiss="alert">×</a>
  					<strong>${flash.info}</strong>
				</div>
			</div>
		</#if>
		<!-- body -->
		<div class="container-fluid">
			<div class="row-fluid">
				<!-- sidebar -->
				<div class="span3">
					<#include "sidebar.ftl.html"/>
				</div>
				<!-- content -->
				<div class="span9">
					<#nested/>
				</div>
			</div>
			<!-- footer -->
			<hr>
			<#include "footer.ftl.html"/>
		</div>
  </body>
</html>
</#macro>
