<div id="header" class="navbar navbar-static-top">
	<div class="container">

		<div>
			<!-- navbar-brand -->
			<a id="brand" class="navbar-brand col-md-3" href="${applUrlHttp}/"> <img
				src="${contextPath}/assets/img/xceptanceLogo.png" />
				Poster&nbsp;Store
			</a>
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".navbar-responsive-collapse"> <span
				class="icon-bar"></span> <span class="icon-bar"></span> <span
				class="icon-bar"></span>
			</a>

			<!-- collapse -->
			<div class="nav-collapse collapse navbar-responsive-collapse">
				<div class="col-md-8">
					<!-- search -->
					<form id="search" class="navbar-form"
						action="${applUrlHttp}/search" method="get">
						<input id="searchText" name="searchText" type="text"
							class="search-query" placeholder="Search"
							value="${(searchTerm)!}">
						<button id="btnSearch" class="btn" type="submit">
							<i class="icon-search"></i>
						</button>
					</form>

					<!-- login -->
					<#if isLogged == false>
					<p class="navbar-text  pull-right">
						Welcome! <a id="btnShowLoginForm" href="${applUrlHttps}/login">Sign
							in</a>
					</p>
					</#if> <#if isLogged == true>
					<ul id="headerLoggedCustomer" class="nav pull-right">
						<li id="dropdown" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">${i18n("headerWelcome")}
								${customerFirstName} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li id="btnAccountOverview"><a
									href="${applUrlHttps}/accountOverview">${i18n("accountOverviewTitle")}</a>
								</li>
								<li id="btnLogout"><a href="${applUrlHttp}/logout">${i18n("headerLogout")}</a>
								</li>
							</ul>
						</li>
					</ul>
					</#if>

					<!-- cart overview -->
					<div id="btnCartOverview" class="navbar-text pull-right">				
						<a id="headerCartOverview" href="${applUrlHttp}/cart">
						<i class="icon-shopping-cart"></i> <span>${i18n("cartOverviewTitle")}:
								${cartProductCount} ${i18n("cartItem")} -
								${currency}${totalPrice}</span>
						</a>
						<!-- cart slider -->
						<#include "cartSlider.ftl.html" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>