<div id="top-demo-disclaimer" class="demo-disclaimer container-fluid text-center">This is a demo application. Orders will not be fulfilled. Do not enter ANY personal and sensitive data!</div>

<nav id="header-navigation-bar" class="header-navigation-bar navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid justify-content-center">
    <a id="header-brand" class="navbar-brand" href="${applUrlHttp}/">
      <img id="header-brand-logo" class="shopLogo" src="${contextPath}/assets/img/xceptanceLogo.png" title="${i18n('titleShopLogo')}" alt="${i18n('titleShopLogo')}">
      ${i18n('titleShop')}</a>
    <div id="header-navigation-elements" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="header-customer-menus" class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a id="show-user-menu" class="nav-link dropdown-toggle" href="#" title="${i18n('headerLogin')}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon-user2"></span>
          </a>
          <ul id="user-menu" class="dropdown-menu">
            <li><#include '../components/userMenu.ftl.html'></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
