<nav id="headerCheckout" class="navbar navbar-default navbar-static-top container-fluid">
    <div class="row">
        <div class="navbar-header col-xs-12 col-sm-11">
            <!-- navbar-brand -->
                <a id="brand" href="${applUrlHttp}/" title="${i18n('titleShop')}">
                    <img class="shopLogo" src="${contextPath}/assets/img/xceptanceLogo.png"
                      title="${i18n('titleShopLogo')}" alt="${i18n('titleShopLogo')}">
                    <span class="titleShopText">${i18n('titleShop')}</span>
                </a>
        </div>
        <div class="col-xs-12 col-sm-1">
            <!-- login form -->
            <ul id="showUserMenu"
                class="nav nav-pills header-menu-item">
                <li role="presentation" class="dropdown">
                    <a id="showUserMenu" class="dropdown-toggle" data-toggle="dropdown" href="#"
                        title="${i18n('headerLogin')}" role="button" aria-haspopup="true" aria-expanded="false">
                        <#if isLogged == false>
                            <span class="glyphicon glyphicon-user not-logged"></span>
                        </#if>
                        <#if isLogged == true>
                            <span class="glyphicon glyphicon-user logged"></span>
                        </#if>
                    </a>
                    <ul id="userMenu"
                        class="dropdown-menu dropdown-menu-right hidden-xs">
                        <#include '../components/userMenu.ftl.html'/>
                    </ul>
                    <ul id="userMenuMobile"
                        class="dropdown-menu hidden-sm hidden-md hidden-lg">
                        <#include '../components/userMenu.ftl.html' />
                    </ul>
            </ul>
        </div>
    </div>
</nav>