<nav id="header" class="navbar navbar-default navbar-static-top">
	<div class="row">
		<div class="navbar-header col-xs-12 col-sm-8 col-lg-8">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<!-- navbar-brand -->
			<div class="col-xs-7 col-sm-12 navbar-brand">
				<a id="brand" href="${applUrlHttp}/" alt="${i18n('titleShop')}"
					title="${i18n('titleShop')}"> <img
					src="${contextPath}/assets/img/xceptanceLogo.png"
					title="${i18n('titleShopLogo')}" alt="${i18n('titleShopLogo')}" />${i18n('titleShop')}
				</a>
			</div>
		</div>

		<div class="col-sm-1">
			<ul id="btnSearchForm" class="nav nav-pills margin_top7">
				<li role="presentation" class="dropdown"><a
					class="dropdown-toggle" data-toggle="dropdown" href="#"
					role="button" aria-haspopup="true" aria-expanded="false"> <span
						class="glyphicon glyphicon-search"></span>
				</a>
					<ul class="dropdown-menu">
						<!-- search -->
						<form id="search" class="navbar-form"
							action="${applUrlHttp}/search" method="get">
							<div>
								<input id="searchText" name="searchText" class="form-control"
									type="search" placeholder="${i18n('headerSearch')}"
									title="${i18n('headerSearch')}" alt="${i18n('headerSearch')}"
									value="${(searchTerm)!}">
							</div>
							<div>
								<button id="btnSearch" class="btn btn-primary form-control"
									type="submit" alt="${i18n('headerSearch')}"
									title="${i18n('headerSearch')}">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</div>
						</form>

					</ul></li>
			</ul>
		</div>

		<div class="col-sm-1">
			<ul id="btnShowLoginForm" class="nav nav-pills margin_top7">
				<li role="presentation" class="dropdown"><a
					class="dropdown-toggle" data-toggle="dropdown" href="#"
					alt="${i18n('headerLogin')}" title="${i18n('headerLogin')}"
					role="button" aria-haspopup="true" aria-expanded="false"> <span
						class="glyphicon glyphicon-user"></span>
				</a>
					<ul class="dropdown-menu">
						<!-- login -->
						<#if isLogged == false>
						<li class="level-1"><span class="margin_left5"></span>${i18n('headerWelcomeGuest')}</li>
						<li class="level-1"><a href="${applUrlHttps}/registration"
							alt="${i18n('headerRegistration')}"
							title="${i18n('headerRegistration')}"> <span
								class="glyphicon glyphicon-user"></span> <span
								class="margin_left5"></span><span id="btnAccountNew"
								class="text-primary">${i18n("headerRegistration")}</span>
						</a></li>
						<li class="level-1"><a id="btnShowLoginForm"
							href="${applUrlHttps}/login" alt="${i18n('headerLogin')}"
							title="${i18n('headerLogin')}"><span
								class="glyphicon glyphicon-log-in"></span> <span
								class="margin_left5"></span><span id="btnAccountLogin"
								class="text-primary">${i18n('headerLogin')}</span> </a></li> </#if> <#if
						isLogged == true>

						<li><span class="margin_left5"></span>${i18n('headerWelcome')}:
							${customerFirstName}</li>
						<li class="level-1"><a href="${applUrlHttps}/accountOverview"
							title="${i18n('accountOverviewTitle')}"
							alt="${i18n('accountOverviewTitle')}"><span
								class="glyphicon glyphicon-info-sign"></span> <span
								class="margin_left5"></span><span id="btnAccountOverview"
								class="text-primary">${i18n("accountOverviewTitle")}</span></a></li>
						<li class="level-1"><a href="${applUrlHttp}/logout"
							title="${i18n('headerLogout')}" alt="${i18n('headerLogout')}"><span
								class="glyphicon glyphicon-log-out"></span> <span
								class="margin_left5"></span><span id="btnLogout"
								class="text-primary">${i18n("headerLogout")}</span></a></li>
					</ul> </#if>
			</ul>
		</div>

		<div class="col-sm-2">
			<div id="btnCartOverview" class="navbar-text">
				<a id="headerCartOverview" href="${applUrlHttp}/cart"
					alt="${i18n('cartOverviewTitle')}"
					title="${i18n('cartOverviewTitle')}"> <span
					class="glyphicon glyphicon-shopping-cart"></span><span
					class="margin_left5">${i18n('cartOverviewTitle')}:</span> <span
					class="CartOverview headerCartProductCounter">${cartProductCount}</span>
				</a>
				<!-- cart slider -->
				<#include "cartSlider.ftl.html" />
			</div>
		</div>


		<div class="container-fluid">
			<ul class="nav navbar-nav col-xs-12">
				<#list topCategory as tC>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown"
					href="${applUrlHttp}/topCategory/${tC.name?url('UTF-8')}?categoryId=${tC.id}"
					id="topCategory${tC_index}" alt="${tC.name}" title="${tC.name}">${tC.name}
						<span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<#list tC.subCategories as sC>
						<li id="subCategory${sC_index}${tC_index}" class="level-1"><a
							href="${applUrlHttp}/category/${sC.name?url('UTF-8')}?categoryId=${sC.id}"
							alt="${sC.name}" title="${sC.name}">${sC.name}</a></li> </#list>
					</ul></li> </#list>
			</ul>
		</div>
	</div>
</nav>