<div id="sidebarNav" class="well sidebar-nav">
	<ul class="nav nav-list">
		<#list topCategory as tC>
			<li id="topCategory${tC_index}" class="topCategory"><h4><a href="${applUrlHttp}/topCategory/${tC.name?url('UTF-8')}?categoryId=${tC.id}">${tC.name}</a></h4></li>
			<#list tC.subCategories as sC>
			<li id="subCategory${sC_index}${tC_index}" class="level-1"><a href="${applUrlHttp}/category/${sC.name?url('UTF-8')}?categoryId=${sC.id}">${sC.name}</a></li>
			</#list>
		</#list>
	</ul>
</div>