<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head><title>Posters - Category</title></head>
<body>
<div layout:fragment="content">

<div class="container text-center mt-3">
    <div class="product-overview-heading">
        <div id="title-category-name" class="header-title"
             th:text="${categoryName} + ' (' + ${products.size()} + ' ' + (${products.size()} == 1 ? 'poster' : 'posters') + ')'">
            Category (0 posters)
        </div>
    </div>
</div>

<div id="product-overview" class="container text-center">
    <div class="row product-display-case">
        <div th:each="product, stat : ${products}"
             th:id="'product-' + ${stat.index}"
             class="card product-tile">
            <a th:href="@{'/' + ${urlLocale} + '/productDetail/' + ${product.name.getText(urlLocale)} + '?productId=' + ${product.id}}">
                <img th:src="@{${product.imageURL}}"
                     th:alt="'picture of ' + ${product.name.getText(urlLocale)}"
                     class="card-img-top"
                     th:id="'overview-product-' + ${stat.index}"/>
            </a>
            <div class="card-body">
                <h5 class="card-title" th:text="${product.name.getText(urlLocale)}">Product Name</h5>
                <p class="card-text product-tile-text" th:text="${product.descriptionOverview.getText(urlLocale)}">Description</p>
                <p class="card-text product-tile-price" th:text="${#numbers.formatCurrency(product.getMinimumPrice(urlLocale))}">$0.00</p>
                <a th:href="@{'/' + ${urlLocale} + '/productDetail/' + ${product.name.getText(urlLocale)} + '?productId=' + ${product.id}}"
                   class="btn btn-primary">Buy Here</a>
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>
