<!-- credit card number -->
<div class="control-group">
  <label class="control-label" for="creditCardNumber">${i18n("titleNumber")}:</label>
  <div class="controls">
    <input id="creditCardNumber" name="creditCardNumber" class="input-xlarge" required type="text" pattern="4[0-9]{12}(?:[0-9]{3})?" data-error="${i18n("errorWrongCreditCard")}" value="${(card.cardNumber)!}">
  </div>
</div>

<!-- name -->
<div class="control-group">
  <label class="control-label" for="name">${i18n("paymentCardholderName")}:</label>
  <div class="controls">
    <input id="name" name="name" class="input-xlarge" required type="text" pattern="[A-Za-z\s]+" data-error="${i18n("errorWrongName")}" value="${(card.name)!}">
    
  </div>
</div>

<!-- Select expiration date -->
<div class="control-group">
  <label class="control-label" for="expirationDate">${i18n("paymentExpiration")}:</label>
  <div class="controls">
    <select id="expirationDateMonth" name="expirationDateMonth" class="input-xlarge">
      <option>01</option>
      <option>02</option>
      <option>03</option>
      <option>04</option>
      <option>05</option>
      <option>06</option>
      <option>07</option>
      <option>08</option>
      <option>09</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
    </select>
    <select id="expirationDateYear" name="expirationDateYear" class="input-xlarge">
      <option>2013</option>
      <option>2014</option>
      <option>2015</option>
      <option>2016</option>
      <option>2017</option>
      <option>2018</option>
      <option>2019</option>
      <option>2020</option>
      <option>2021</option>
      <option>2022</option>
      <option>2023</option>
      <option>2024</option>
    </select>
  </div>
</div>