<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">
<script type="text/javascript">
    // Use delegated event handling to handle dynamically added elements
    document.addEventListener('click', (e) => {
        if (!e.target) return;
        const el = e.target.closest('#pagination-bottom a.page-link, #prev, #next');
        if (el) {
            e.preventDefault();
            // Remove 'active' class from all page links
            document.querySelectorAll('#pagination-bottom a.page-link').forEach(function(link) {
                link.classList.remove('active');
            });
            // Add 'active' class to the clicked page link
            if(!el.matches('#prev') && !el.matches('#next')) {
                el.classList.add('active');
            }
            var lastPage = Number(${totalPages})+1;
		    var page;
            if(el.matches('#prev')) {
                // Go to the first page
                page = 1;
                document.querySelector('#pagination-bottom > li:nth-child(2) > a').classList.add('active');
            } else if (el.matches('#next')) {
                // Go to the last page
                page = ${totalPages};
                document.querySelector('#pagination-bottom > li:nth-child('+lastPage+') > a').classList.add('active');
            } else {
                page = parseInt(el.getAttribute("data-page"));
            }

            var pathname = location.pathname;
            var pageType = pathname.substring(CONTEXT_PATH.length + 1, pathname.indexOf('/', CONTEXT_PATH.length + 1));

            // AJAX request based on page type
            // change this to get requests
            if (pageType == "topCategory") {
                const xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function(data) {
                    if(xhr.readyState !== 4) return;

                    if(xhr.status === 200) {
                        var data = JSON.parse(xhr.responseText);
                        updateProductOverview(data);
                    } else {
                        
                    }
                }
                xhr.open("POST", '${contextPath}/getProductOfTopCategory');
	            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                var params = "categoryId=" + encodeURIComponent(${(category.id)!1}) + "&page=" + encodeURIComponent(page);
                xhr.send(params);
            } else if (pageType == "category") {
                const xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function(data) {
                    if(xhr.readyState !== 4) return;

                    if(xhr.status === 200) {
                        var data = JSON.parse(xhr.responseText);
                        updateProductOverview(data);
                    } else {
                        
                    }
                }
                xhr.open("POST", '${contextPath}/getProductOfSubCategory');
            	xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                var params = "categoryId=" + encodeURIComponent(${(category.id)!1}) + "&page=" + encodeURIComponent(page);
                xhr.send(params);
            } else {
                const xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function(data) {
                    if(xhr.readyState !== 4) return;

                    if(xhr.status === 200) {
                        var data = JSON.parse(xhr.responseText);
                        updateProductOverview(data);
                    } else {
                        
                    }
                }
                xhr.open("POST", '${contextPath}/getProductOfSearch');
	            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                var params = "searchText=" + encodeURIComponent(document.getElementById('s').value) + "&page=" + encodeURIComponent(page);
                xhr.send(params);
            };
        }
    })
</script>



<div class="container text-center mt-3">
	<div class="product-overview-heading">
		<#if category??>
		<div id="titleCategoryName" class="header-title">${category.name} (<span id="totalProductCount">${totalProductCount}</span>  <#if totalProductCount == 1 >${i18n("searchProductPoster")}<#else>${i18n("searchProductPosters")}</#if>)</div>
		</#if> <#if searchText??>
		<div id="titleSearchText" class="header-title">${i18n("searchProductMatch")} '<span id="searchTextValue">${searchText}</span>' (<span id="totalProductCount">${totalProductCount}</span> <#if totalProductCount == 1 >${i18n("searchProductPoster")}<#else>${i18n("searchProductPosters")}</#if>)</div>
		</#if> <#if noResults??>
		<div id="titleNoResults" class="header-title">${noResults}</div>
		</#if>
	</div>
</div>
	
<div id="productOverview" class="container text-center">
	<div class="row product-display-case-product-overview">
			<#list products as pro>
			<div id="product${pro_index}" class="card product-tile">
                <picture id="overview-product-${pro_index}">
                    <source media="(max-width: 399px)" srcset="${contextPath}${pro.smallImageURL}">
                    <source media="(max-width: 799px)" srcset="${contextPath}${pro.mediumImageURL}">
                    <source media="(max-width: 1999px)" srcset="${contextPath}${pro.largeImageURL}">
                    <img class="card-img-top" src="${contextPath}${pro.originalImageURL}" alt="picture of ${pro.name}" >
                </picture>
				<div class="card-body">
					<h5 class="card-title">${pro.name}</h5>
					<p class="card-text product-tile-text">${pro.descriptionOverview}</p>
					<p class="card-text product-tile-price">$${pro.minimumPrice}</p>
				    <a href="${contextPath}/productDetail/${pro.name?url('UTF-8')}?productId=${pro.id}" class="btn btn-primary">Buy here</a>
				</div>
			</div>
			</#list>
	</div>


<!-- Pagination -->

</div>
<#if totalPages gt 1>
<nav aria-label="Product listing page navigation">
    <ul id="pagination-bottom" class="pagination pagination-bottom">
        <#if currentPage != 1>
        <li class="page-item">
            <a id="prev" class="page-link" href="#" aria-label="Previous" data-prev="">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        </#if>
        <#list 1..totalPages as i>
            <#if i==currentPage>
                <li class="page-item"><a class="page-link active" href="#" data-page="${i}"><span>${i}</span></a></li>
            <#else>
                <li class="page-item"><a class="page-link" href="#" data-page="${i}">${i}</a></li>
            </#if>
        </#list>
        <#if currentPage != totalPages>
        <li class="page-item">
            <a id="next" class="page-link" href="#" aria-label="Next" data-next="">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        </#if>
    </ul>
</nav>
</#if>
</@layout.myLayout>
