<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">

<div class="container mt-4">
	<div class="row">
		<img src="${contextPath}${productDetail.imageURL}" class="img-fluid" alt="${productDetail.name}">
		<div class="col mt-4">
			<form id="add-to-cart-form">
				<div class="mb-3">
					<h3>${productDetail.name}</h3>
				</div>
				<div class="mb-3">
					<p><span>${currency}${productDetail.getPriceAsString()}</span></p>
				</div>
				<div class="mb-3">
					<h4>${productDetail.descriptionOverview}</h4>
				</div>
				<div class="mb-3">
					<label for="product-detail-form-description" class="form-label">${i18n("productDetailProductDescription")}</label>
					<div id="product-detail-form-description" class="form-text">${productDetail.descriptionDetail}</div>
				</div>
				<div class="mb-3">
					<label for="product-detail-form-size-selection" class="form-label" >${i18n("cartSelectSize")}</label>
					<select id="product-detail-form-size-selection" class="form-select" aria-label="size selection">
						<option selected>Choose a size</option>
						<#list productDetail.availableSizes as size>
						<option>${size.size.width} x ${size.size.height} ${unitLength}</option>
						</#list>
					</select>
				</div>
				<div class="mb-3">
					<label for="product-detail-form-style-selection" class="form-label">${i18n("cartSelectFinish")}</label>
					<div id="product-detail-form-style-selection">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="style-selection" id="style-selection1" checked>
							<label class="form-check-label" for="style-selection1">
								${i18n("cartSelectFinishMatte")}
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="style-selection" id="style-selection2">
							<label class="form-check-label" for="style-selection2">
								${i18n("cartSelectFinishGloss")}
							</label>
						</div>
					</div>
				</div>
				<div class="mb-3">
					<label for="product-detail-form-print-information" class="form-label">${i18n("productDetailPrintInformation")}</label>
					<div id="product-detail-form-print-information" class="form-text">${i18n('productDetailPosterFinish')}</div>
				</div>
				<div class="mb-3">
					<a id="btnAddToCart" onClick="addToCart(${productDetail.id}, $('#add-to-cart-form input[name=style-selection]:checked').val(), $('#product-detail-form-size-selection').val())" class="btn btn-primary">
						<i class="icon-shopping-cart"></i> ${i18n("productDetailAddToCart")}
					</a>
				</div>
			</form>
		</div>
	</div>
</div>

</@layout.myLayout>
