<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">

<div class="container mt-4">
	<div class="row">
		<img
            srcset="${contextPath}${productDetail.smallImageURL} 400w,
					${contextPath}${productDetail.mediumImageURL} 800w,
                    ${contextPath}${productDetail.largeImageURL} 2000w"
             sizes="(min-width: 1320px) 660px,
			 		(min-width: 1140px) 570px,
			 		(min-width: 960px) 480px,
					100vw"
            src="${contextPath}${productDetail.originalImageURL}"
            alt="${productDetail.getName(lang)}"
			class="img-fluid col-lg-6 col-md-12">
		<div class="col-lg-6 col-md-12 mt-4">
			<form id="add-to-cart-form">
				<div class="mb-3">
					<h3 id="product-detail-form-name">${productDetail.getName(lang)}</h3>
				</div>
				<div class="mb-3">
					<p><span id="product-detail-form-price">${currency}${productDetail.getPriceAsString()}</span></p>
				</div>
				<div class="mb-3">
					<h4 id="product-detail-form-description-overview">${productDetail.getDescriptionOverview(lang)}</h4>
				</div>
				<div class="mb-3">
					<label for="product-detail-form-description" class="form-label product-detail-paragraph-label">${i18n("productDetailProductDescription")}</label>
					<div id="product-detail-form-description" class="">${productDetail.getDescriptionDetail(lang)}</div>
				</div>
				<div class="mb-3">
					<label for="product-detail-form-size-selection" class="form-label" >${i18n("cartSelectSize")}</label>
					<select id="product-detail-form-size-selection" class="form-select" aria-label="size selection" onchange="updatePrice(this, ${productDetail.id})">
						<#list productDetail.availableSizes as size>
						<option value="${size.size.width} x ${size.size.height} ${unitLength}">${size.size.width} x ${size.size.height} ${unitLength}</option>
						</#list>
					</select>
				</div>
				<div class="mb-3">
					<label for="product-detail-form-style-selection" class="form-label">${i18n("cartSelectFinish")}</label>
					<div id="product-detail-form-style-selection">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="finish" id="finish-matte" value="matte" checked>
							<label class="form-check-label" for="finish-matte">
								${i18n("cartSelectFinishMatte")}
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="finish" id="finish-gloss" value="gloss">
							<label class="form-check-label" for="finish-gloss">
								${i18n("cartSelectFinishGloss")}
							</label>
						</div>
					</div>
				</div>
				<div class="mb-3">
					<label for="product-detail-form-print-information" class="form-label product-detail-paragraph-label">${i18n("productDetailPrintInformation")}</label>
					<div id="product-detail-form-print-information" class="">${i18n('productDetailPosterFinish')}</div>
				</div>
				<div class="mb-3 product-detail-product-id-container">
					<label for="product-detail-form-product-id">ID:</label>
					<div id="product-detail-form-product-id">${productDetail.id}</div>
				</div>
				<div class="mb-3 d-flex justify-content-end">
					<a id="btn-add-to-cart" onClick="addToCart(${productDetail.id}, document.querySelector('#add-to-cart-form input[name=finish]:checked').value, document.querySelector('#product-detail-form-size-selection').value)" class="btn btn-primary">
						<i class="icon-shopping-cart"></i> ${i18n("productDetailAddToCart")}
					</a>
				</div>
			</form>
		</div>
	</div>
</div>

</@layout.myLayout>
