    
    <!-- Set Content Height End -->
    </div>
                <!-- Footer Start -->
            <footer>
                <div class="container-fluid pt-4 px-4">
                    <div class="bg-light rounded-top p-4">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center text-sm-start footer-copyright">
                                &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                            </div>
                            <div class="col-12 col-sm-6 text-center text-sm-end footer-credit">
                                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                                <span class="basedon">Design based on template theme <a
                                    href="https://htmlcodex.com/bootstrap-admin-template-free/">Dashmin</a> </span>
                                <span class="designedBy">Template designed by <a href="https://htmlcodex.com">HTML Codex</a> </span>
                                <span class="license">Template used under the <a
                                    href="http://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a> license </span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Footer End -->

            </footer>

<!-- Content End -->
</div>



<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>


<!-- BootStrap Tables -->


<!-- Data Tables -->
<script>
    $(document).ready( function () {
        $('#customerlist').DataTable({ 
        // Specify multiple classes to be used
        stripeClasses: ['stripe-1',
                        'stripe-2']});
    } );


</script>

<script src="${contextPath}/assets/js//backoffice/dashmin_main.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<!-- JavaScript Libraries -->
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="${contextPath}/assets/lib/chart/chart.min.js"></script>
<script src="${contextPath}/assets/lib/easing/easing.min.js"></script>
<script src="${contextPath}/assets/lib/waypoints/waypoints.min.js"></script>
<script src="${contextPath}/assets/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="${contextPath}/assets/lib/tempusdominus/js/moment.min.js"></script>
<script src="${contextPath}/assets/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="${contextPath}/assets/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
</body>

</html>