<!-- Main Sidebar Container -->
<!-- Updated Sidebar Start -->
<aside class="main-sidebar elevation-4 sidebar-dark-danger">
  <!-- Brand Logo -->
  <a href="/posters/backoffice" class="brand-link bg-dark">
    <img src="${contextPath}/assets/img/xceptanceLogo.png" alt="Poster Logo"
      class="brand-image img-circle elevation-1" style="opacity: .8">
    <span class="brand-text font-weight-light">Back office</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar" style="overflow-y: auto;">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="${contextPath}/assets/img/user.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">${currentUser.firstName} ${currentUser.name}</a>
        <a href="#" class="d-block">Admin</a>
        <span class=""></span>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <!-- Updated Sidebar -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu"
        data-accordion="false">

        <!-- Dashboard -->
        <li class="nav-item">
          <a href="/posters/backoffice" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <!-- Catalog -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Catalog
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/posters/backoffice/catalog" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Categories</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/posters/backoffice/product" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Products</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Customers -->
        <li class="nav-item">
          <a href="/posters/backoffice/customer" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Customers</p>
          </a>
        </li>

        <!-- Orders -->
        <li class="nav-item">
          <a href="/posters/backoffice/order" class="nav-link">
            <i class="nav-icon fas fa-briefcase"></i>
            <p>
              Orders
            </p>
          </a>
        </li>

        <!-- Users -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Users
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/posters/backoffice/user" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>List</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/posters/backoffice/user/create" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add user</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Preferences -->
        <li class="nav-item">
          <a href="/posters/backoffice/preferences" class="nav-link">
            <i class="nav-icon fas fa-tag"></i>
            <p>Preferences</p>
          </a>
        </li>

      </ul>
    </nav>

    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
<!-- Updated Sidebar End -->