<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="/posters/backoffice" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>DASHMIN</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="${contextPath}/assets/img/user.jpg" alt=""
                    style="width: 40px; height: 40px;">
                <div
                    class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                </div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">${currentUser.firstName} ${currentUser.name}</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/posters/backoffice" class="nav-item nav-link active"><i
                    class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/posters/backoffice/statistics" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Statistics</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-th me-2"></i>Webshop</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/posters/backoffice/order" class="dropdown-item">Orders</a>
                    <a href="/posters/backoffice/customer" class="dropdown-item">Customers</a>
                    <a href="/posters/backoffice/catalog" class="dropdown-item">Catalog</a>
                    <a href="/posters/backoffice/product/p1" class="dropdown-item">Products</a>
                    <a href="/posters/backoffice/preferences" class="dropdown-item">Preferences</a>
                </div>
            </div>
            <a href="/posters/backoffice/data-management" class="nav-item nav-link"><i class="fa fa-laptop me-2"></i>Import/Export</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="far fa-file-alt me-2"></i>Admin Users</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/posters/backoffice/user" class="dropdown-item">Show all users</a>
                    <a href="/posters/backoffice/user/create" class="dropdown-item">Add user</a>
                </div>
            </div>
        </div>
    </nav>
</div>