<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head><title>Billing Address</title></head>
<body>
<main layout:fragment="content">
    <div class="container mt-4">
        <h1>Billing Address</h1>
        <div class="form-check mb-3" th:if="${shippingAddress != null}">
            <input class="form-check-input" type="checkbox" id="sameAsShipping"
                   onclick="copyShipping()"/>
            <label class="form-check-label" for="sameAsShipping">Same as shipping address</label>
        </div>
        <form th:action="@{'/' + ${urlLocale} + '/checkout/billingAddress'}" method="post" id="billing-form">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" required/>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="name" name="name" required/>
                </div>
            </div>
            <div class="mb-3"><label class="form-label">Company</label><input type="text" class="form-control" id="company" name="company"/></div>
            <div class="mb-3"><label class="form-label">Address</label><input type="text" class="form-control" id="addressLine" name="addressLine" required/></div>
            <div class="row">
                <div class="col-md-4 mb-3"><label class="form-label">City</label><input type="text" class="form-control" id="city" name="city" required/></div>
                <div class="col-md-4 mb-3"><label class="form-label">State</label><input type="text" class="form-control" id="state" name="state" required/></div>
                <div class="col-md-4 mb-3"><label class="form-label">ZIP</label><input type="text" class="form-control" id="zip" name="zip" required/></div>
            </div>
            <div class="mb-3"><label class="form-label">Country</label><input type="text" class="form-control" id="country" name="country" required value="United States"/></div>
            <button type="submit" class="btn btn-primary" id="btn-submit-billing">Continue to Payment</button>
        </form>
    </div>
    <script th:if="${shippingAddress != null}" th:inline="javascript">
        var shippingData = {
            firstName: [[${shippingAddress.firstName}]], name: [[${shippingAddress.name}]],
            company: [[${shippingAddress.company}]], addressLine: [[${shippingAddress.addressLine}]],
            city: [[${shippingAddress.city}]], state: [[${shippingAddress.state}]],
            zip: [[${shippingAddress.zip}]], country: [[${shippingAddress.country}]]
        };
        function copyShipping() {
            var c = document.getElementById('sameAsShipping').checked;
            ['firstName','name','company','addressLine','city','state','zip','country'].forEach(f => {
                document.getElementById(f).value = c ? (shippingData[f] || '') : '';
            });
        }
    </script>
</main>
</body>
</html>
