<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/checkoutLayout}">
<head><title>Shipping Address</title></head>
<body>
<div layout:fragment="content">
    <div class="container mt-4">
        <h1 th:text="#{titleShippingAddress}">Shipping Address</h1>
        <form th:action="@{'/' + ${urlLocale} + '/checkout/shippingAddress'}" method="post" id="shipping-form">
            <div class="card shadow-sm border-0 mb-5">
                <div class="card-body p-4 p-md-5">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required
                                       th:value="${customer != null} ? ${customer.firstName}"/>
                                <label for="firstName" th:text="#{labelFirstName}">First Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Last Name" required
                                       th:value="${customer != null} ? ${customer.name}"/>
                                <label for="name" th:text="#{labelLastName}">Last Name</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="company" name="company" placeholder="Company"/>
                                <label for="company" th:text="#{labelCompany}">Company (optional)</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="addressLine" name="addressLine" placeholder="Address" required/>
                                <label for="addressLine" th:text="#{labelAddress}">Address</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="city" name="city" placeholder="City" required/>
                                <label for="city" th:text="#{labelCity}">City</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="state" name="state" placeholder="State" required/>
                                <label for="state" th:text="#{labelState}">State</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="zip" name="zip" placeholder="ZIP" required/>
                                <label for="zip" th:text="#{labelZip}">ZIP</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-4">
                                <select class="form-select" id="country" name="country" required>
                                    <option th:each="c : ${countries}"
                                            th:value="${c.code}"
                                            th:text="${c.name}"
                                            th:selected="${c.code == defaultCountryCode}">
                                    </option>
                                </select>
                                <label for="country" th:text="#{labelCountry}">Country</label>
                            </div>
                        </div>
                        <div class="col-12 text-end">
                            <button type="submit" class="btn btn-primary btn-lg px-5 shadow-sm" id="btn-submit-shipping" th:text="#{buttonContinueToBilling}">Continue to Billing</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
