<!-- last name -->
<div class="mb-3">
    <label class="form-label" for="address-last-name">${i18n("labelMyName")}*</label>
    <input id="address-last-name" name="lastName" placeholder="${i18n('registrationLastName')}"
        class="form-control" type="text" pattern="${regexName}" 
        <#if session_form??><#if session_form=="bill">
        value="<#if ses_bill_last_name??>${ses_bill_last_name}<#else>${(address.name)!}</#if>"
        <#else>
            value="<#if ses_last_name??>${ses_last_name}<#else>${(address.name)!}</#if>"
            </#if><#else>${(address.name)!}</#if>
        data-error="${i18n('errorWrongName')}" title="${i18n('errorWrongName')}" required>
</div>

<!-- first name -->
<div class="mb-3">
    <label class="form-label" for="address-first-name">${i18n("labelMyFirstName")}*</label>
    <input id="address-first-name" name="firstName" placeholder="${i18n('registrationFirstName')}" class="form-control"
        type="text" pattern="${regexName}" 
        <#if session_form??><#if session_form=="bill">
        value="<#if ses_bill_first_name??>${ses_bill_first_name}<#else>${(address.firstName)!}</#if>"
        <#else>
            value="<#if ses_first_name??>${ses_first_name}<#else>${(address.firstName)!}</#if>"
            </#if><#else>${(address.firstName)!}</#if>
        data-error="${i18n('errorWrongName')}" title="${i18n('errorWrongName')}" required>
</div>

<!-- company-->
<div class="mb-3">
    <label for="address-company" class="form-label">${i18n("addressCompany")}</label>
    <input type="text" id="address-company" class="form-control"
        placeholder="${i18n('addressCompanyPlaceholder')}" name="company" 
        <#if session_form??><#if session_form=="bill">
        value="<#if ses_bill_company??>${ses_bill_company}<#else>${(address.company)!}</#if>"
        <#else>
            value="<#if ses_company??>${ses_company}<#else>${(address.company)!}</#if>"
            </#if><#else>${(address.company)!}</#if>
        data-error="${i18n('errorWrongName')}" title="${i18n('errorWrongName')}" >
</div>

<!-- address line-->
<div class="mb-3">
    <label for="address-address-line" class="form-label">${i18n("addressLine")}*</label>
    <input type="text" id="address-address-line" class="form-control" 
        <#if session_form??><#if session_form=="bill">
        value="<#if ses_bill_addressLine??>${ses_bill_addressLine}<#else>${(address.addressLine)!}</#if>"
        <#else>
            value="<#if ses_addressLine??>${ses_addressLine}<#else>${(address.addressLine)!}</#if>"
            </#if><#else>${(address.addressLine)!}</#if>
        placeholder="${i18n('addressLinePlaceholder')}" name="addressLine" required>
</div>

<!-- city-->
<div class="mb-3">
    <label for="address-city" class="form-label">${i18n("addressCity")}*</label>
    <input type="text" id="address-city" class="form-control"
        aria-describedby="address-city-help" pattern="${regexName}" 
        <#if session_form??><#if session_form=="bill">
        value="<#if ses_bill_city??>${ses_bill_city}<#else>${(address.city)!}</#if>"
        <#else>
            value="<#if ses_city??>${ses_city}<#else>${(address.city)!}</#if>"
            </#if><#else>${(address.city)!}</#if>
        placeholder="${i18n('addressCity')}" name="city" required>
        <div id="address-city-help" class="form-text"></div>
</div>

<!-- state & zip-->
<div class="mb-3">
    <div class="row">
        <div class="col">
            <label for="address-state" class="form-label">${i18n("addressState")}*</label>
            <input type="text" id="address-state" class="form-control"
                aria-describedby="address-state-help" pattern="${regexName}" 
                <#if session_form??><#if session_form=="bill">
                value="<#if ses_bill_state??>${ses_bill_state}<#else>${(address.state)!}</#if>"
                <#else>
                    value="<#if ses_state??>${ses_state}<#else>${(address.state)!}</#if>"
                    </#if><#else>${(address.state)!}</#if>
                placeholder="${i18n('addressState')}" name="state" required>
                <div id="address-state-help" class="form-text"></div>
        </div>
        <div class="col">
            <label for="address-zip" class="form-label">${i18n('addressZip')}*</label>
            <input type="text" id="address-zip" class="form-control"
                aria-describedby="address-zip-help" pattern="${regexZip}" 
                <#if session_form??><#if session_form=="bill">
                value="<#if ses_bill_zip??>${ses_bill_zip}<#else>${(address.zip)!}</#if>"
                <#else>
                    value="<#if ses_zip??>${ses_zip}<#else>${(address.zip)!}</#if>"
                    </#if><#else>${(address.zip)!}</#if>
                placeholder="${i18n('addressZip')}" name="zip" required>
                <div id="address-zip-help" class="form-text"></div>
        </div>
    </div>
</div>

<!-- Select country -->
<div class="mb-3">
    <label for="address-country" class="form-label">${i18n("addressCountry")}*</label>
    <select id="address-country" class="form-select"
        aria-describedby="address-country-help" name="country">
        <#if session_form??><#if session_form=="bill">
            <#if ses_bill_country?exists>
                <option value="United States" <#if ses_bill_country == "United States">selected</#if>>${i18n('countryUS')}</option>
                <option value="Germany" <#if ses_bill_country == "Germany">selected</#if>>${i18n('countryGermany')}</option>
            <#else>
                <option></option>
                <option>${i18n('countryUS')}</option>
                <option>${i18n('countryGermany')}</option>
            </#if>
        <#else>
            <#if ses_country?exists>
                <option value="United States" <#if ses_country == "United States">selected</#if>>${i18n('countryUS')}</option>
                <option value="Germany" <#if ses_country == "Germany">selected</#if>>${i18n('countryGermany')}</option>
            <#else>
                <option></option>
                <option>${i18n('countryUS')}</option>
                <option>${i18n('countryGermany')}</option>
            </#if>
        </#if><#else><option></option><option>${i18n('countryUS')}</option><option>${i18n('countryGermany')}</option></#if>
    </select>
    <div id="address-country-help" class="form-text">
        ${i18n('addressShippRestrict')} ${i18n('countryUS')} ${i18n('and')} ${i18n('countryGermany')}.
    </div>
</div>
