<div class="progress-column col text-center progress-step-1">
    <p class="progress-bubble-container"><span class="progress-bubble">1</span></p>
    <h6 class="progress-bubble-caption">${i18n("checkoutProgressIndicatorCart")}</h6>
</div>
<div class="progress-column col text-center progress-step-2">
    <p class="progress-bubble-container"><span class="progress-bubble">2</span></p>
    <h6 class="progress-bubble-caption">${i18n("checkoutProgressIndicatorShipping")}</h6>
</div>
<div class="progress-column col text-center progress-step-3">
    <p class="progress-bubble-container"><span class="progress-bubble">3</span></p>
    <h6 class="progress-bubble-caption">${i18n("checkoutProgressIndicatorBilling")}</h6>
</div>
<div class="progress-column col text-center progress-step-4">
    <p class="progress-bubble-container"><span class="progress-bubble">4</span></p>
    <h6 class="progress-bubble-caption">${i18n("checkoutProgressIndicatorPayment")}</h6>
</div>
<div class="progress-column col text-center progress-step-5">
    <p class="progress-bubble-container"><span class="progress-bubble">5</span></p>
    <h6 class="progress-bubble-caption">${i18n("checkoutProgressIndicatorSummary")}</h6>
</div>
<div class="progress-column col text-center progress-step-6">
    <p class="progress-bubble-container"><span class="progress-bubble">6</span></p>
    <h6 class="progress-bubble-caption">${i18n("checkoutProgressIndicatorCompleted")}</h6>
</div>