<div id="breadcrumbCheckout">
	<ul class="breadcrumbs text-left">

		<!-- add shipping address -->
		<li  class ="liBread" id="btnToCard"><a class="bread" href="${applUrlHttp}/cart">${i18n("titleCard")}/ </a>
			<span class="divider bread"></span></li>

		<!-- add shipping address -->
		<li  class ="liBread" id="btnShippAddr"><a class="bread" href="enterShippingAddress">${i18n("titleShippingAddress")} / </a>
			<span class="divider "></span></li>

		<!-- add billing address -->
		<#if billingAddressActive??>
		<li  class ="liBread active" id="btnBillAddr"><a class="bread"
			href="${contextPath}/enterBillingAddress">${i18n("titleBillingAddress")} / </a>
			<#else>
		<li  class ="liBread"id="btnBillAddr">${i18n("titleBillingAddress")} /  </#if> <span
			class="divider"></span></li>

		<!-- add credit card -->
		<#if creditCardActive??>
		<li  class ="liBread active" id="btnCreditCard"><a class="bread"
			href="${contextPath}/enterPaymentMethod">${i18n("titlePayment")} / </a>
			<#else>
		<li  class ="liBread"id="btnCreditCard">${i18n("titlePayment")} /  </#if> <span
			class="divider"></span></li>

		<!-- place order -->
		<#if placeOrderActive??>
		<li  class ="liBread active" id="btnPlaceOrder"><a class="bread"
			href="${contextPath}/checkoutOverview">${i18n("titleCheckoutOverview")} / </a>
			<#else>
		<li  class ="liBread"id="btnPlaceOrder">${i18n("buttonPlaceOrder")} /  </#if></li>

	</ul>
</div>