<div class="cart-mini cart-mini-wrap">
	<div class="cart-mini-empty">${i18n("infoEmptyCartShort")}</div>

	<div class="cart-mini-header">
		<div class="cart-mini-product-counter">
			<span class="value font-bold">${cartProductCount}</span>
			<#if cartProductCount == 1 > ${i18n("miniCartItem")} <#else>
			${i18n("miniCartItems")} </#if>
		</div>
	</div>

	<div class="cart-mini-element-list-wrap">
		<span class="notifications-loader"></span>
		<ul class="list-unstyled cart-mini-element-list">
			<#list cartProducts as product>
			<li
				class="product-id-${product.product.id}-${product.getFinish()}-${product.size.width}x${product.size.height} mini-cart-item" data-prodId="${product.product.id}">
				<ul class="cart-items list-unstyled">
					<li class="prod-name">${product.product.name}</li>
					<li>${i18n("cartTableHeaderQuantity")}: <span 
						class="prod-count">${product.getProductCount()}</span> (<span 
						class="prod-style">${product.getFinish()}</span>, <span class="prod-size"><span 
						class="prod-width">${product.size.width}</span> x <span class = "prod-height">${product.size.height}</span> <span 
						class = "unit-length">${unitLength}</span></span>)
					</li>
					<li>
						<div class="prod-price text-right">
							<strong>${currency}${product.getTotalUnitPriceAsString()}</strong>
						</div>
					</li>
				</ul>
			</li> </#list>
		</ul>
	</div>

	<div class="cart-mini-total">
		<div class="cart-mini-suborder-total row">
			<div class="col-sm-7 text-left labelText">${i18n("miniCartSubTotal")}</div>
			<div class="col-sm-5 text-right value">
				<div class="suborder-price">${currency}${subTotalPrice}</div>
			</div>
		</div>
		<div class="link-button">
			<a href="${applUrlHttp}/cart"
				class="btn btn-primary form-control go-to-cart">${i18n("buttonGoToCart")}</a>
		</div>
	</div>

</div>