
<!-- login -->
<#if isLogged == false>
<a id="show-user-menu" class="nav-link dropdown-toggle" href="#" title="${i18n('headerLogin')}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <span class="icon-user2"></span>
</a>
<ul id="user-menu" class="dropdown-menu dropdown-menu-end">
<li class="header-user-menu-heading mb-2">${i18n('headerWelcomeGuest')}</li>
<li class="header-user-menu-content mb-2">
  <a href="${applUrlHttps}/registration" id="go-to-registration" class="btn btn-primary header-user-menu-button" title="${i18n('headerRegistration')}">
	<span class="icon-user-add-outline"></span>
	<span>${i18n("headerRegistration")}</span>
  </a>
</li>
<li class="header-user-menu-content">
  <a href="${applUrlHttps}/login" id="go-to-login" class="btn btn-primary header-user-menu-button" title="${i18n('headerLogin')}">
	<span class="icon-log-in"></span>
	<span>${i18n('headerLogin')}</span>
  </a>
</li>
</ul>

</#if> 
<#if isLogged == true>
<a id="show-user-menu" class="nav-link dropdown-toggle" href="#" title="" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <span class="icon-user2"></span>
</a>
<ul id="user-menu" class="dropdown-menu dropdown-menu-end">
<li class="header-user-menu-heading mb-2">${i18n('headerWelcome')}: <span class="first-name">${customerFirstName}</span></li>
<li class="header-user-menu-content mb-2">
  <a href="${applUrlHttps}/accountOverview" id="go-to-account-overview" class="btn btn-primary header-user-menu-button" title="${i18n('accountOverviewTitle')}">
	<span class="icon-info-large logged"></span>
	<span>${i18n("accountOverviewTitle")}</span>
  </a>
</li>
<li class="header-user-menu-content">
  <a href="${applUrlHttp}/logout" id="go-to-logout" title="${i18n('headerLogout')}" class="btn btn-primary header-user-menu-button">
	<span class="icon-log-out"></span>
	<span>${i18n("headerLogout")}</span>
  </a>
</li>
</ul>

</#if>
